html, body{min-height: 100%; height: 100%;}
body{background-color: #00145E; font: normal normal 12px Arial, sans-serif; color: #FFF;}
.toL{float: left;}
.toR{float: right;}
.rtl{direction: rtl;}
.rtl .toL{float: right;}
.rtl .toR{float: left;}
a,a:visited{color:#69B7FF;text-decoration:none;}
a:hover{text-decoration:underline;}

.clearfix:before, .clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {zoom:1;}

.disableSelect {-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

/*BUTTONS*/
.btn{background-color: #555; border-radius: 5px; padding: 3px 10px; display: inline-block;}
.btn:hover{background-color: #0D3AE0;}
.close-X{background-color: #00145E; font: bold 12px/20px Arial; border-radius: 50%; padding: 0px;box-sizing: border-box; height: 20px; width: 20px; cursor: pointer;}

.allContent{position: absolute; top: 10px; bottom: 10px; left: 0; right:  0}
/*TABS*/
.tabs{}
.tabBtn{display: inline-block; font: 13px/20px Arial; background-color: #000078; color: #FFF; cursor: pointer; padding: 0 10px; margin: 0 2px;}
.tabBtn.select{background-color: #000;}
.tabBtn:first-child{margin-left: 0;}
.rtl .tabBtn:first-child{margin-right: 0;}
.content .tabBtn{}

/*header*/
#header{}
#header .tree{display: block;}
#header .whiteWrappwer{background-color: #FFF; height: 50px}

.headLangNav{display: block;text-align: center;float:left; padding-left: 40px;}
.headLangNav a{display: inline-block; border-right: 1px solid #00145E; color: #000;line-height: 14px;margin: 14px 0 0; padding: 0 4px 2px 4px;font-weight: bold;}
.headLangNav a:first-child{border-right: 0 none; padding-left: 4px;padding-right: 4px;font-weight: bold;}
.headLangNav a.select {color:#D32020;}

.headLinksNav{display: block; padding: 5px 0; text-align: center;}
.headLinksNav a{display: inline-block; margin: 0 5px 0 0; color:#FFF;}


/*CONTENT*/
.container {width: 980px;height: 100%;margin: 0 auto;position: relative; min-height: 500px;}

.content {background-color: #000C37; padding: 20px 0; position: absolute; top: 80px; bottom: 30px; left: 0; width: 100%;}
.content .mid{margin: 0 265px; background-color: #384B92;padding: 20px 10px; min-height: 300px;	}

.backToOnLine{display: inline-block;padding: 0 25px 0 0;background-color: #FFA200;color: #000;}
.clipInfo{}

.audioPlayer{display: block; background-color: rgba(0,0,0, 0.5); padding: 5px 10px;}
.audioPlayer .play, .audioPlayer .mute{cursor: pointer;display: inline-block; margin: 0 5px; padding: 0; background:  url("../images/audio-player-icons.png") 0 0 no-repeat; height: 23px; width: 23px;}

.audioPlayer .play{background-position: 0 0;}
.audioPlayer .play.off{background-position: -33px 0;}

.audioPlayer .mute{background-position: 0 -25px;}
.audioPlayer .mute.off{background-position: -33px -25px;}

/*Clip aside*/
.clipListContainer {position:absolute; overflow-y: auto; overflow-x: hidden; top:45px; bottom:10px;padding: 0 15px 0 0;width: 245px;box-sizing: border-box;}
.content .aside{width: 265px; box-sizing: border-box; -moz-box-sizing: border-box; height: 100%;padding: 0;box-sizing: border-box;}
.content .aside.toR{padding: 0 10px;}
.clipList{overflow: auto; height: 100%;}
.clipList .item{border-bottom: 1px solid #4EA9FF; margin: 10px auto; width: 210px;}
.clipList .cont{cursor: pointer;}
.clipList .cont:hover {opacity: 0.8;}
.clipList .cont img{ margin: 3px 10px 5px 0;}
.rtl .clipList .cont img{ margin: 3px 0 5px 10px;}
.clipList .cont h5{color: #FFA302;}
.clipList .clipIcons{text-align: left; margin: 0 2px; }
.clipList .clipData {text-align: right;color: #4EA9FF;}
.clipList .clipImage {width:70px; height:70px;}

.playerPanel {padding:5px 0;float:right;}
.playerPanel .clipTitle {color:#FFA302;}
.playerPanel a{cursor: pointer;}
.playerDescription {border-top: 1px solid #C6D8F2;}
.fullScreenButton {cursor: pointer;}
/*tabs aside*/

#asideTabIframe{width: 100%; height: 100%; position: relative;}
#asideTabIframe .tabBtn{font-size: 11px; margin: 0 1px;padding: 5px;background-color: #384B92;color: #FFA200;}
#asideTabIframe .tabBtn.select{margin-top: -1px;padding-bottom: 6px;background-color: #DFE7F2;color: #000;}
#asideTabIframe .forIframe{top: 32px; left: 0; right: 0; bottom: 0;position: absolute;overflow: auto;}
#asideTabIframe iframe{width: 100%; height: 100%;}
#asideTabIframe .updates {overflow: auto;}/*todo: must do for all tabs when we start use not iframes*/
#asideTabIframe .updates .item{padding: 10px; border-bottom: 1px solid #2B64A7;}
#asideTabIframe .updates .item h5{color: #FFD800; font-size: 18px;}
#asideTabIframe .updates .item .url{margin: 5px 0;display: block;}

.selectTag{line-height: 20px; display: block;width: 100%;}
/*FOOTER*/
.footer{position: absolute;bottom: -10px; left: 0; width: 100%; height: 30px;background-color: #000078;padding:10px 0 0 0;}
.footer a {color:#FFF;font-size: x-small; margin-left: 3px; border-left: 1px solid #FFF; padding-left: 3px; display: inline-block; line-height: 12px;}
.footer a:last-child {border-left: 0 none;}
.langs {margin:5px 5px 5px 0;}
#help-e {float:left;font: normal normal 12px Arial,sans-serif;color: blue;text-decoration: underline;}
.fullScreenButton {color: #4EA8FE;padding: 5px 5px 5px 0;float: left;}
.broadcastTime {display: inline-block;height: 18px;margin: 0 70px;color: #FFA200;font-weight: bold;padding: 0 0 0 10px;text-align: center;}

