/* 
	1.3 
	transition: color 0.35s , background-color 0.35s;
*/


[id^="UAhMqtC"] {
	width: calc(20px * 1.3);
	height: calc(20px * 1.3);
}

.andiOpenSubMenu { 
	width: calc(15px * 1.3);
	height: calc(15px * 1.3);
	
}
#UAfNPwXQ, #UAbXUgBD {
	max-height:calc(510px * 1.3) !important;
}


.UAEHRTM,
#UAEHRTM {
	width: calc(30px * 1.3);
	height: calc(30px * 1.3);
}

#UAVMdeB input[type="image"], #UADnmPGcE input[type="image"] {
	width:calc(15px * 1.3) ;
	height:calc(15px * 1.3) ;
	margin: calc(7px * 1.3) calc(5px * 1.3) calc(3px * 1.3);
}
#UAnGgcH img{
	width: calc(23px * 1.3) !important;
}

#UAXrXQBkb, #UAXrXQBkb *, #UAHjUEjV, #UAHjUEjV * ,#UAkBNWbgiy,#UAiZIBvS *{
	line-height: calc(20px * 1.3);
	font-size:calc(16px * 1.3);
}

#UAEndkVm img{
	margin-top:calc(5% * 1.3);
	width:calc(35px * 1.3);
	height:calc(35px * 1.3);
}


.UArzwsyAAoakeBuggerMenu{
	font-size: calc(24px * 1.3) !important;
}

#UALDWMHP > div > div > div:hover::before, #UALDWMHP > div > div > div:hover::before {
	border-left: calc(20px * 1.3) solid transparent;
	border-right: calc(20px * 1.3) solid transparent;
	border-top: calc(20px * 1.3) solid #f00;
}
		
#UALDWMHP > div > div > div:focus:before, #UALDWMHP > div > div > div:focus:before {
	border-width: 0 calc(100px * 1.3) calc(100px * 1.3) calc(100px * 1.3);
}

#UALDWMHP > div > div > div:hover:after, #UALDWMHP > div > div > div:hover:after {
	border-radius: calc(1px * 1.3);
	padding: calc(5px * 1.3) calc(5px * 1.3);

}




 #UALDWMHP > div > div > div:focus:after, #UALDWMHP > div > div > div:focus:after {
	border-radius: calc(1px * 1.3);
	
	padding: calc(5px * 1.3) calc(5px * 1.3);
	
}

#UAXrXQBkb {
	width: calc(320px * 1.3)  !important;
}

#UAiSpqbTP {
    width:calc(233px * 1.3);
    height:calc(233px * 1.3);
}


#UAqnDvNYFJ {
	width:calc(320px * 1.3);
	height:calc(30px * 1.3);
	padding:calc(5px * 1.3);
}
#UAiSpqbTP input {
	width:calc(40px * 1.3);
	height:calc(20px * 1.3);
}

#UAyNKFT {
	width:calc(320px * 1.3);
	height:calc(165px * 1.3);
	font-size:calc(16px * 1.3);
	padding:calc(5px * 1.3) calc(10px * 1.3);
}
#UAyNKFT *{
	font-size:calc(16px * 1.3);
}

#UAOQuqDs{
	font-size:calc(16px * 1.3);
	padding:calc(5px * 1.3) calc(5px * 1.3);

}
#UAMkShSs{
	width:calc(85px * 1.3);
	height:calc(35px * 1.3);
	margin-top: calc(110px * 1.3);
	border-radius: calc(3px * 1.3);
	font-size:calc(20px * 1.3);
	padding-top: calc(7px * 1.3);

}

#UAeupFZVG{
	width:calc(85px * 1.3);
	height:calc(35px * 1.3);
	margin-top: calc(110px * 1.3);
	border-radius: calc(3px * 1.3);
	font-size:calc(20px * 1.3);
	padding-top: calc(7px * 1.3);
}

#UAQQJyDoY{
	height:calc(7px * 1.3)75px;
}
#UADCJBXiaB{
	height:calc(1px * 1.3);
	margin:calc(2px * 1.3) 0;

}
#UALApwjC{
	height:calc(75px * 1.3);
	margin-top: calc(-8px * 1.3);
}

#UAZioyqWh {
	width:calc(320px * 1.3);
	height:calc(35px * 1.3);
	padding:calc(2px * 1.3) calc(2px * 1.3);
	font-size:calc(14px * 1.3);
}

#UAZioyqWh a{
    padding:calc(2px * 1.3) calc(2px * 1.3);
	font-size:calc(14px * 1.3);
}

#UAXrXQBkb #UAuWgkHw {
	width: calc(320px * 1.3);
	height: calc(30px * 1.3);
}

#UAXrXQBkb #UAuWgkHw #UAVMdeB #UAJkiEBUds, #UAXrXQBkb #UAuWgkHw #UAVMdeB #UATvARk, #UAXrXQBkb #UAuWgkHw #UAVMdeB #UAQwBTcC {
	width: calc(30px * 1.3);
	height: calc(30px * 1.3);
}

#UAXrXQBkb #UALDWMHP {
	width: calc(320px * 1.3);
	height: calc(65px * 1.3);

}

#UAXrXQBkb #UALDWMHP > div > div > div svg {
	margin: calc(10px * 1.3) auto 0;
	width: calc(35px * 1.3);
}

#UAXrXQBkb #UALDWMHP .UALDWMHPMarkIfSelected {
	height: calc(3px * 1.3);
	width: calc(80px * 1.3);
}

#UAXrXQBkb #UALDWMHP > div {
	line-height: calc(4px * 1.3);
}

#UAXrXQBkb .UAvwgduxE{
	height: calc(3px * 1.3);
}

#UAXrXQBkb #UALDWMHP > div > div {
	width: calc(80px * 1.3);
	height: calc(64px * 1.3);
}

#UAXrXQBkb #UAPLlbfND {
	width: calc(320px * 1.3);
	height: calc(65px * 1.3);
	padding-top: calc(16px * 1.3);
}

#UAVytil ,#UAcZMYDxVq {
	font-size: calc(14px * 1.3);
	line-height: calc(30px * 1.3);
}
#UAzHUFc ,#UAHHxVRVHi{
	font-size: calc(18px * 1.3);
	border-radius: calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3);
	-moz-border-radius: calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3);
	-webkit-border-radius: calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	padding: 0px calc(10px * 1.3);
	width:calc(295px * 1.3);
	line-height: calc(30px * 1.3);	
	height: calc(30px * 1.3);

}

#UAXrXQBkb #UAPLlbfND #UAeWaHSE #UAzHUFc img{
	width:calc(25px * 1.3);
	margin: calc(6px * 1.3) calc(-2px * 1.3);
}

#UAXrXQBkb #UAPLlbfND #UAeWaHSE #UAzHUFc img.UAZmjbhJVKeeActiveBasicAcccessibilityIcon {
	margin: calc(6px * 1.3) calc(-2px * 1.3);
}

#UAXrXQBkb #UAtfBcDipG {
	width: calc(320px * 1.3);
	height: calc(35px * 1.3);
	box-shadow: inset 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5);
}


#UAwzwNbVY {
	width: calc(320px * 1.3);
	height: calc(32px * 1.3);
}

#UAXrXQBkb #UAtfBcDipG #UAHacgay {
	margin: 0px calc(10px * 1.3);
	font-size: calc(16px * 1.3);
	width: calc(300px * 1.3);
	height: calc(30px * 1.3);
    padding-top: calc(7px * 1.3);
}

#UAXrXQBkb #UAtfBcDipG img {
	width: calc(14px * 1.3);
	height: calc(5px * 1.3);
	margin: calc(7px * 1.3) calc(128px * 1.3) 0 0;
}

#UAXrXQBkb #UAkLXLFcm {
	width: calc(320px * 1.3);
	height: calc(410px * 1.3);
}


#UAXrXQBkb  #UAkLXLFcmFooter {
	width: calc(320px * 1.3);
	height: calc(35px * 1.3);
	padding:0 calc(3px * 1.3) 0;
}

#UAXrXQBkb  #UAkLXLFcmFooter a {
	font-size: calc(14px * 1.3);
	line-height: calc(35px * 1.3);
}



#UAXrXQBkb .UALEPnx .UAkLXLFcmFooter {
	width: calc(320px * 1.3);
	height: calc(35px * 1.3);
	padding:0 calc(3px * 1.3) 0;
}

#UAXrXQBkb .UALEPnx .UAkLXLFcmFooter a {
	font-size: calc(14px * 1.3);
	line-height: calc(35px * 1.3);
}

#UAXrXQBkb #UAkLXLFcm .UAxdyux {
	margin: calc(7px * 1.3) 0px 0px calc(7px * 1.3);
	-webkit-box-shadow: 0px 0px calc(5px * 1.3) calc(-2px * 1.3) rgba(0,0,0,0.54);
	-moz-box-shadow: 0px 0px calc(5px * 1.3) calc(-2px * 1.3) rgba(0,0,0,0.54);
	box-shadow: 0px 0px calc(5px * 1.3) calc(-2px * 1.3) rgba(0,0,0,0.54);
   
}

#UAXrXQBkb #UAkLXLFcm .UAfFnho {
	width: calc(150px * 1.3);
	height: calc(195px * 1.3);
}

#UAXrXQBkb #UAkLXLFcm .UAfFnho p {
	line-height: calc(20px * 1.3);
	width: calc(133px * 1.3);
	height: calc(60px * 1.3);
	font-size: calc(18px * 1.3) !important;
	padding-top: calc(118px * 1.3);
}

#UAXrXQBkb .UAqkIbOh .UAZQYgbV  p {
	font-size: calc(16px * 1.3) !important;
	padding: calc(2px * 1.3) calc(3px * 1.3);
}


#UAaCMRsj {
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.85);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.85);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.85);
}

#UAXrXQBkb #UAkLXLFcm .UALEPnx {
	width: calc(338px * 1.3);
	height: calc(575px * 1.3);
}

#UAXrXQBkb #UAkLXLFcm .UAxdyux .UAsTDTadYe {
	width: calc(320px * 1.3);
	height: calc(64px * 1.3);
	-webkit-box-shadow: 0px calc(4px * 1.3) calc(5px * 1.3) calc(-4px * 1.3) rgba(0,0,0,0.7);
	-moz-box-shadow: 0px calc(4px * 1.3) calc(5px * 1.3)5px calc(-4px * 1.3) rgba(0,0,0,0.7);
	box-shadow: 0px calc(4px * 1.3) calc(5px * 1.3)5px calc(-4px * 1.3) rgba(0,0,0,0.7);
}

#UAXrXQBkb #UAkLXLFcm .UAxdyux .UAqkIbOh {
	width: calc(320px * 1.3); 	
}

#UAXrXQBkb #UAkLXLFcm .UAxdyux .UAtCxOvBRG {
	width: calc(320px * 1.3);
	margin-top: calc(30px * 1.3);
}

#UAXrXQBkb #UAkLXLFcm .UAxdyux #UABwAEM {
	width: calc(300px * 1.3);
	height: calc(185px * 1.3);
	padding-top: calc(10px * 1.3);
}

#UAXrXQBkb #UAkLXLFcm .UAxdyux #UAoZtRQSs {
	width: calc(145px * 1.3);
	height: calc(185px * 1.3);
}

#UAkLXLFcm .UAiHGKWiSd {
	width: calc(149px * 1.3);
	height: calc(110px * 1.3);
}

#UAzvmHhiN .UAgLWEjgDspace {
	width:calc(45px * 1.3);
	height:calc(35px * 1.3);
}

#UAzvmHhiN .UAgLWEjgDspace img{
	width:calc(35px * 1.3);
	height:calc(25px * 1.3);
}


#UAkLXLFcm .UAhUnczuVW img {
	margin: 0px calc(3px * 1.3) 0 !important;
}



#UAkLXLFcm .UAhUnczuVW {
	width: calc(150px * 1.3) !important;
	height: calc(110px * 1.3) !important;
}

#UAkLXLFcm .UAiHGKWiSd .UAMHmuXmE {
	margin: calc(10px * 1.3) auto 0;
	padding: 0 calc(12px * 1.3);
}

#UAoZtRQSs label {
	margin: calc(5px * 1.3) calc(15px * 1.3) 0;
	font-size: calc(13px * 1.3);
}

#UAoZtRQSsSelect {
	margin: 0 calc(15px * 1.3);
	font-size: calc(16px * 1.3);
	height: calc(20px * 1.3);
	border-bottom: calc(1px * 1.3) solid #fff;
}

#UAoZtRQSsSelect:before {
	font-size: calc(18px * 1.3);
	height: calc(20px * 1.3);
}

#UAoZtRQSsSelect option{
	width: calc(150px * 1.3);
	margin: 0 calc(15px * 1.3);
	font-size: calc(16px * 1.3);
	height: calc(35px * 1.3);
	border-radius: calc(2px * 1.3);	
}

#UAXrXQBkb #UAkLXLFcm .UAxdyux #UAclywXqcV {
	width: calc(124px * 1.3);
	height: calc(50px * 1.3);
}

#UAXrXQBkb #UAkLXLFcm .UAxdyux #UAclywXqcV label {
	margin: calc(5px * 1.3) calc(15px * 1.3) 0;
	font-size: calc(30px * 1.3);
}

#UAXrXQBkb #UAkLXLFcm .UAxdyux #UAclywXqcV input[type="number"] {
	border: calc(1px * 1.3) solid #fff;
	height:calc(20px * 1.3);
}

#UAclywXqcV input[type="number"]:after {
	
	font-size: calc(11px * 1.3);
}

#UAclywXqcV input[type="number"]:before {
	margin-bottom: calc(-14% * 1.3);
	font-size: calc(11px * 1.3);
}

#UAuduaxc, #UAaGZJEa {
	font-size: calc(13px * 1.3);
}

#UAXrXQBkb #UAkLXLFcm .UAxdyux #UAiAClP, #UAXrXQBkb #UAkLXLFcm .UAxdyux #UAPhjGmkuz {
	border: calc(1px * 1.3) solid #fff;
	height: calc(20px * 1.3);
}

#UAiAClP:after, UAPhjGmkuz:after {
	
	font-size: calc(11px * 1.3);
}

#UAiAClP:before, UAPhjGmkuz:before {
	
	font-size: calc(11px * 1.3);
}
#UABwAEM #UAEOPVylosespace {
	margin:calc(5px * 1.3);
}

#UAzvmHhiN {
	width: calc(320px * 1.3);
}

#UAzvmHhiN .UAqlTwKNsX {
	width: calc(115px * 1.3);
	height: calc(35px * 1.3);
	padding-top: calc(7px * 1.3);
	border-radius: calc(2px * 1.3);
}

#UAzvmHhiN .UAgwPrvE {
	width: calc(115px * 1.3);
	height: calc(35px * 1.3);
    padding-top: calc(7px * 1.3);
	border-radius: calc(2px * 1.3);
}

#UAXrXQBkb #UAkLXLFcm div.UAqkIbOh > div.UAcRGYrw {
	width: calc(320px * 1.3);
	height: calc(100px * 1.3);
}

#UAXrXQBkb #UAkLXLFcm div.UAqkIbOh > div.UAcRGYrw img {
	height: calc(100px * 1.3);
}

#UAXrXQBkb #UAkLXLFcm #UAeXooJnfA {
	top: calc(220px * 1.3);
}

#UAXrXQBkb #UAkLXLFcm #UAxAfMVwU {
	top: calc(220px * 1.3);
}

#UAXrXQBkb #UAkLXLFcm #UAvztjh {
	bottom: calc(195px * 1.3);
}

#UAXrXQBkb #UAkLXLFcm #UATDyDhnuh {
	bottom: calc(195px * 1.3);
}

#UAvztjh div.UAsTDTadYe div.UAjAOPLzmb,
#UAxAfMVwU div.UAsTDTadYe  div.UAjAOPLzmb,
#UATDyDhnuh div.UAsTDTadYe  div.UAjAOPLzmb,
#UAeXooJnfA div.UAsTDTadYe  div.UAjAOPLzmb {
	width: calc(25px * 1.3) !important;
	height: calc(24px * 1.3) !important;
	font-size: calc(24px * 1.3);
	margin: calc(20px * 1.3) calc(10px * 1.3) calc(5px * 1.3);
}

#UAvztjh div.UAsTDTadYe > div.UAuYWsoZxp,
#UAxAfMVwU div.UAsTDTadYe > div.UAuYWsoZxp,
#UATDyDhnuh div.UAsTDTadYe > div.UAuYWsoZxp,
#UAeXooJnfA div.UAsTDTadYe > div.UAuYWsoZxp {
	height: calc(24px * 1.3) !important;
	font-size: calc(16px * 1.3);
	line-height:calc(64px * 1.3);
}

#UAkLXLFcm .UAqkIbOh .UAdZSDINSq {
	width: calc(320px * 1.3);
	height: calc(102px * 1.3);
}
#UAHzpYrwm img {
	width: calc(20px * 1.3) !important;
}
 
#UAJmGBAbFhiteMouse img{
	width: calc(20px * 1.3) !important;
}
#UAkLXLFcm .UAqkIbOh .UAPcnEBJbm img {
	margin: 0 calc(5px * 1.3);
}


#UAkLXLFcm .UAqkIbOh .UAPcnEBJbm {
	box-shadow: 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5);
	width: calc(295px * 1.3);
}
	    


#UAkLXLFcm .UAqkIbOh .UAMiftOX {
	width: calc(149px * 1.3);
	height: calc(60px * 1.3);
	font-size: calc(14px * 1.3);
    box-shadow: 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5);
}

#UAkLXLFcm .UAqkIbOh .UABdiAiCR {
	width: calc(97px * 1.3);
	height: calc(95px * 1.3);
	font-size: calc(14px * 1.3);
	box-shadow: 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5);
	margin-top: calc(7px * 1.3);
}

#UAkLXLFcm .UAqkIbOh .UABdiAiCR svg{
	bottom:calc(10px * 1.3);
}

#UAEuNms  {
	height: calc(336px * 1.3);
	width: calc(170px * 1.3);
}

#UAEuNms.UAUMRvhUq > div > div {
	width: calc(56px * 1.3);
	height: calc(56px * 1.3);
}


#UAEuNms.UAUMRvhUq input {
	width: calc(56px * 1.3) !important;
	height: calc(56px * 1.3) !important;
}


#UAEuNms.UAUMRvhUq {
	height: calc(332px * 1.3);
	width: calc(170px * 1.3);
}

#UAEuNms.UAUMRvhUq > div >  div {
	border: calc(1px * 1.3) solid #ededed;
	padding: calc(8px * 1.3) calc(15px * 1.3)12px;
	width: calc(56px * 1.3) !important;
	height: calc(56px * 1.3) !important;
}

#UAEuNms .UAUggWqP {
	width: calc(170px * 1.3) !important;
	height: calc(56px * 1.3) !important;
}

#UAEuNms.UAUMRvhUq div input {
	width: calc(56px * 1.3);
	height: calc(54px * 1.3);
}

#UAuyHtxC #UAHjUEjV {
	width: calc(640px * 1.3);
	height: calc(152px * 1.3);
}

#UAuyHtxC #UAwmocCDVv {
	width: calc(640px * 1.3);
	height: calc(152px * 1.3);

}

#UAuyHtxC #UAiwRHsCx {
	width: calc(640px * 1.3);
	height: calc(152px * 1.3);
}


#UAuyHtxC #UAiwRHsCx #UAaqqXXDo {
	width: calc(640px * 1.3);
	height: calc(32px * 1.3);
}

#UAuyHtxC #UAiwRHsCx #UAaqqXXDo .UAAeXRb{
	width: calc(55px * 1.3);
	height: calc(32px * 1.3);
	line-height: calc(32px * 1.3);
}

#UAuyHtxC #UAiwRHsCx #UAaqqXXDo .UAAeXRb#UAojqKCB {
}

#UAuyHtxC #UAiwRHsCx #UAAXYDsGl {
	width: calc(640px * 1.3);
	height: calc(80px * 1.3);
}

#UAuyHtxC #UAiwRHsCx #UAAXYDsGl .UAXPJYH {
	width: calc(50px * 1.3);
	height: calc(50px * 1.3);
	margin: calc(20px * 1.3) 0 0 calc(2px * 1.3);
	line-height: calc(50px * 1.3);
	font-size: calc(20px * 1.3);
}

#UAuyHtxC #UAiwRHsCx #UAdsCiag {
	width: calc(640px * 1.3);
	border: calc(1px * 1.3) solid #31C1EE;
}


#UAuyHtxC #UAiwRHsCx #UAdsCiag:after {
	border-top: solid calc(12px * 1.3) #31C1EE;
}

#UAuyHtxC #UAiwRHsCx #UAAXYDsGl .UAXPJYH#UAeXmwOCL {
	font-size: calc(25px * 1.3);
}

#UAuyHtxC #UAiwRHsCx #UAAXYDsGl .UAXPJYH#UAYtNBoXt {
	font-size: calc(25px * 1.3);
}

#UAuyHtxC #UAiwRHsCx #UAbXxYvoM {
	margin-top: calc(12px * 1.3);
	width: calc(260px * 1.3);
}


#UAuyHtxC #UAQROsJoz {
	height:calc(35px * 1.3);
}

.UAjAOPLzmb {
	width: calc(12px * 1.3) !important;
	height: calc(24px * 1.3)24px !important;
	font-size: calc(24px * 1.3);
	margin: calc(15px * 1.3) calc(10px * 1.3) 0;
}

#UAEUlTLb {
	width: calc(300px * 1.3);
	height: calc(185px * 1.3);
}

#UAOQlAG {
	width: calc(225px * 1.3);
	height: calc(50px * 1.3);
	margin: calc(55px * 1.3) 0 0 0;
}

#UAPDUDdSdp {
	width: calc(50px * 1.3);
	height: calc(50px * 1.3);
	margin: calc(55px * 1.3) 0 0 0;
}

#UAOQlAG .UAEUlTLbColor {
	margin: calc(6px * 1.3) calc(3px * 1.3) calc(1px * 1.3);
	width: calc(22px * 1.3);
	height: calc(22px * 1.3);
	border-radius: calc(17px * 1.3);
}

#UAPDUDdSdp .UAEUlTLbColor {
	margin: calc(6px * 1.3) calc(3px * 1.3) calc(1px * 1.3);
	border: calc(1px * 1.3) solid #fff;
	width: calc(50px * 1.3);
	height:calc(50px * 1.3);
	border-radius: (50px * 1.3);
	font-size:calc(16px * 1.3);
	padding:calc(15px * 1.3) calc(12px * 1.3);
}


/************************************************/
#UAgtuTYK {height:calc(226px * 1.3); padding: calc(5px * 1.3);}
#UAgtuTYK #UApakqRu {width: calc(663px * 1.3);}
#UAgtuTYK #UArtBpN {margin:calc(5px * 1.3);padding: calc(5px * 1.3);border: calc(1px * 1.3) solid #333;-moz-border-radius: calc(5px * 1.3);-webkit-border-radius: calc(5px * 1.3);}
#UAgtuTYK div[role="button"] {margin: 0 calc(5px * 1.3) calc(5px * 1.3) 0;width: calc(30px * 1.3);height: calc(30px * 1.3);line-height:calc(40px * 1.3);border: calc(1px12px * 1.3) solid #222222;-moz-border-radius: calc(5px * 1.3);-webkit-border-radius: calc(5px * 1.3);}
#UAgtuTYK .UANnFAsya{width: calc(70px * 1.3) !important;}
#UAgtuTYK #UAutLCMboard div[role="button"]:focus,#UAutLCMboard div[role="button"]:hover {top:calc(1px * 1.3);}
#UAgtuTYK #UAutLCMboard div[role="button"].UAGJznU, #UAutLCMboard div[role="button"].UAdVXGV {width: calc(70px * 1.3) !important;}
#UAgtuTYK #UAutLCMboard div[role="button"].UAEOPVyapslock {width: calc(80px * 1.3);}
#UAgtuTYK #UAutLCMboard div[role="button"].UApZYjrjF {width: calc(55px * 1.3);}
#UAgtuTYK #UAutLCMboard div[role="button"].UAncSHOefa {width: calc(77px * 1.3);}


#UAgtuTYK #UAuhPooxoQLang div[role="button"].UAEkKMFBEjang {height:calc(30px * 1.3);;width:calc(93px * 1.3) !important;}
#UAgtuTYK #UAutLCMboard div[role="button"].UAypYiG {width:calc(548px * 1.3);}

#UAgtuTYK #UAuhPooxoQLang{height:calc(185px * 1.3);width:calc(95px * 1.3) !important;}


[id^="UAhMqtC"] {
    width: calc(20px * 1.3);
    height:calc(20px * 1.3);
}



#UAwUqCUG {
    padding: calc(10px * 1.3) calc(10px * 1.3) !important;
    font-size: calc(16px * 1.3) !important;
}

#UAUlXxOC {
    height: calc(30px * 1.3) !important;
    margin-top: calc(20px * 1.3) !important;
}

#UAhVXUscwe {
	width:calc(300px * 1.3);
}

#UAJaPIh {
	border:calc(1px * 1.3) solid #fff;
	height: calc(100px * 1.3);
	margin :0 calc(3px * 1.3);
}



#UAPxWjEaRy {
	border: calc(1px * 1.3) solid #fff;
	height: calc(100px * 1.3);
	margin :0 calc(3px * 1.3);
}

#UAphmAU {
	padding: calc(5px * 1.3);
	font-size: calc(14px * 1.3);
}


#UAahPQnrHo {
	padding:calc(5px * 1.3);
	font-size: calc(14px * 1.3);
}

.UAUqXtj {
	width: calc(36px * 1.3);
    height: calc(36px * 1.3);
	margin: calc(14px * 1.3) 0 0 calc(5px * 1.3) !important;
}

.UAUqXtj img{
	width: calc(36px * 1.3);
    height: calc(36px * 1.3);
}


#UAkBNWbgiy{ 
    top: calc(5px * 1.3);
    width: calc(320px * 1.3);
}

#UANVvItUF{
	width: calc(320px * 1.3);
    height: calc(30px * 1.3);
}
#UAkBNWbgiy .UAihTni{
	width:calc(25px * 1.3);
	height:calc(25px * 1.3);
	padding: calc(5px * 1.3);
	font-size: calc(16px * 1.3) !important;
}
#UAkBNWbgiy #UAQLBcur{font-size:calc(16px * 1.3) !important;width:calc(170px * 1.3)!important;height:calc(38px * 1.3);}
#UAkBNWbgiy select{font-size:calc(16px * 1.3) !important;width:calc(80px * 1.3);height:calc(40px * 1.3);}

#UAkBNWbgiy #UAtYjHFmt{height:calc(40px * 1.3); width:calc(320px * 1.3) !important;}

#UAkBNWbgiy #UAaCMRsj h3{font-size:calc(16px * 1.3) !important; padding: calc(5px * 1.3);}
#UAkBNWbgiy #UAaCMRsj p{font-size:calc(16px * 1.3) !important;}
#UAkBNWbgiy h2{font-size:calc(16px * 1.3) !important; padding: calc(5px * 1.3);width:calc(200px * 1.3)!important;}

#UAkBNWbgiy hr{border:calc(1px * 1.3) solid #ccc!important;}


#UAFmekdPqA{
	width: calc(320px * 1.3);
    height: calc(85px * 1.3);
}

#UAOULXEf{
	width:calc(320px * 1.3);
    height:calc(65px * 1.3);
    padding-top: calc(16px * 1.3);
}

#UAHbFhGHes{
    font-size: calc(12px * 1.3)22px;
    border-radius: calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3);
    -moz-border-radius: calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3);
    -webkit-border-radius: calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3);
    -webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
    padding: calc(5px * 1.3) calc(10px * 1.3);
    width: calc(300px * 1.3);
    line-height: calc(14px * 1.3);
    height: calc(32px * 1.3);
}

#UAzRTTjxUj{
	width: calc(320px * 1.3);
    height: calc(35px * 1.3);
    box-shadow: inset 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5);
}

#UAqzaAha{
	margin: 0px calc(10px * 1.3);
    font-size: calc(16px * 1.3);
    width: calc(300px * 1.3);
    height: calc(30px * 1.3);
    padding-top: calc(7px * 1.3);
}

#UAFCAOI{
	height: calc(444px * 1.3);
}

#UAjcknZB{
	width:calc(320px * 1.3);
	height:calc(115px * 1.3);
    padding-top: calc(33px * 1.3);
}
#UAHbFhGHes{
    font-size: calc(19px * 1.3);
    border-top: calc(1px * 1.3) solid #fff;
	border-bottom: calc(1px * 1.3) solid #fff;
    padding: 0px calc(10px * 1.3);
    width: calc(300px * 1.3);
    line-height: calc(50px * 1.3);
    height: calc(50px * 1.3);
}

#UAHbFhGHes img{
    width: calc(30px * 1.3);
	line-height: calc(50px * 1.3);
    padding-top: calc(14px * 1.3);
}

#UAqvlvQTFN {
	margin: 0px calc(10px * 1.3);
    font-size: calc(16px * 1.3);
    width: calc(300px * 1.3);
    height: calc(30px * 1.3);
    padding-top: calc(7px * 1.3);
}

#UAlIAJuoAF {
	height:calc(410px * 1.3);
	width:calc(338px * 1.3);
	font-size:calc(14px * 1.3);
}


#UAlIAJuoAF .UAnTTSSv .UAUVWTtUCX{
	border-bottom: calc(1px * 1.3) solid #ccc;
}

#UAlIAJuoAF .UAnTTSSv{
	    width: calc(318px * 1.3);
}

#UAlIAJuoAF .UAnTTSSv :focus{
	outline: calc(1px * 1.3) solid #000;
}

#UAlIAJuoAF .UAnTTSSv .UAUVWTtUCX{
	padding:calc(5px * 1.3);
	font-size:calc(14px * 1.3);
}

#UAlIAJuoAF .UAnTTSSv .UAUVWTtUCX img{
    width: calc(15px * 1.3);
    top: calc(10px * 1.3);
}

#UAlIAJuoAF .UAnTTSSv .UAwkXvd{
	padding:calc(5px * 1.3);
	font-size:calc(14px * 1.3);
	border-bottom: calc(1px * 1.3) solid #ccc;
}



#UAXvBIyu {
    width: calc(320px * 1.3);
    height: calc(115px * 1.3);
}

#UAXvBIyu #UAADWDuc{
	margin:calc(10px * 1.3);
	font-size: calc(16px * 1.3);
}

#UAMLIKQt {
	width: calc(2320pxx * 1.3);
    height: calc(30px * 1.3);
	padding: calc(5px * 1.3) calc(10px * 1.3);
}

#UAJiYmwu {
	width: calc(320px * 1.3);
    height: calc(325px * 1.3);
	padding: calc(3px * 1.3) calc(10px * 1.3);
}

#UAURQwlK{
	width: calc(320px * 1.3);
    height: calc(50px * 1.3);
}

#UACeIhEQ{
	height:calc(50px * 1.3);
	padding:calc(12px * 1.3) calc(10px * 1.3);
	font-size:calc(18px * 1.3);
}

#UAukNoYMNK{
	height:calc(50px * 1.3);
	padding:calc(12px * 1.3) calc(10px * 1.3);
	font-size:calc(18px * 1.3);
}

#UAzImabpSW{
	height:calc(85px * 1.3);
	width:calc(300px * 1.3);
	padding:calc(10px * 1.3) calc(10px * 1.3) 0;
	font-size:calc(14px * 1.3);
}

#UAVgPqEdDq{
	width:calc(1820px * 1.3);
	font-size:calc(14px * 1.3);
}

#UAVgPqEdDq .UAyomlqe{
	width: calc(245px * 1.3);
    height: calc(180px * 1.3);
	margin:0 calc(5px * 1.3);
}
#UAVgPqEdDq .UAyomlqe .UAhMWTW{
	width: calc(245px * 1.3);
    height: calc(75px * 1.3);
	font-size: calc(14px2px * 1.3);
	border-radius: calc(2px * 1.3) calc(2px * 1.3) 0px 0px;
	-moz-border-radius: calc(2px * 1.3) calc(2px * 1.3) 0px 0px;
	-webkit-border-radius: calc(2px * 1.3) calc(2px * 1.3) 0px 0px;
}


#UAVgPqEdDq .UAyomlqe .UAhMWTW .UAKWzTn{
	top:calc(10px * 1.3);
	width:calc(20px * 1.3);
	height:calc(20px * 1.3);
	font-size: calc(14px * 1.3);
}

#UAVgPqEdDq .UAyomlqe .UAhMWTW .UAsLRzbNe{
	padding: calc(10px * 1.3) calc(25px * 1.3) 0 calc(15px * 1.3);
    font-size: calc(14px * 1.3);
}

#UAVgPqEdDq .UAyomlqe .UAHxcTRs{
	width: calc(245px * 1.3);
    height: calc(90px * 1.3);
	-webkit-box-shadow: 0px calc(1px * 1.3) calc(5px * 1.3) calc(-1px * 1.3) rgba(89,89,89,1);
	-moz-box-shadow: 0px calc(1px * 1.3) calc(5px * 1.3) calc(-1px * 1.3) rgba(89,89,89,1);
	box-shadow: 0px calc(1px * 1.3) calc(5px * 1.3) calc(-1px * 1.3) rgba(89,89,89,1);
	padding: calc(20px * 1.3) calc(40px * 1.3) 0;
	font-size:calc(14px * 1.3);
	border-radius: 0px 0px calc(2px * 1.3) calc(2px * 1.3);
	-moz-border-radius: 0px 0px calc(2px * 1.3) calc(2px * 1.3);
	-webkit-border-radius: 0px 0px calc(2px * 1.3) calc(2px * 1.3);
}


#UAVgPqEdDq .UAyomlqe .UAHxcTRs [class^="UATNvOhg"]{
	width: calc(50px * 1.3);
    height: calc(50px * 1.3);
	-webkit-box-shadow: 0px calc(1px * 1.3) calc(5px * 1.3) calc(-1px * 1.3) rgba(89,89,89,1);
	-moz-box-shadow: 0px calc(1px * 1.3) calc(5px * 1.3) calc(-1px * 1.3) rgba(89,89,89,1);
	box-shadow: 0px calc(1px * 1.3) calc(5px * 1.3) calc(-1px * 1.3) rgba(89,89,89,1);
	font-size:calc(14px * 1.3);
	margin:calc(2px * 1.3);

}

#UAVgPqEdDq .UAyomlqe .UAHxcTRs input[type="text"],
#UAVgPqEdDq .UAyomlqe .UAHxcTRs textarea{
	width: calc(210px * 1.3);
    margin: 0 calc(-24px * 1.3);
	font-size:calc(14px * 1.3);
}

#UAVgPqEdDq .UAyomlqe .UAHxcTRs .UAPzMHN{
	margin: calc(20px * 1.3) 0;
}

#UAVgPqEdDq .UAyomlqe .UAHxcTRs .UAPzMHN label{
	font-size: calc(14px * 1.3);
}

#UAVgPqEdDq .UAyomlqe .UAHxcTRs .UAPzMHN input[type="text"]{
	height:calc(20px * 1.3);
	font-size:calc(14px * 1.3);
}

#UAVgPqEdDq .UAyomlqe .UAHxcTRs .UAPzMHN textarea {
	min-height:calc(40px * 1.3);
	font-size:calc(14px * 1.3);
	max-height:calc(40px * 1.3);
}



.UABPvFqXFv{
	font-size:calc(14px * 1.3);
}

.UAaiRdrNWD{
	font-size:calc(14px * 1.3);
}

#UAVgPqEdDq .UAyomlqe .UAHxcTRs .UABPvFqXFv.UAdJEIHyat {
	font-size:calc(14px * 1.3);
}

[id^="UAfNPwXQ"] {
	width:calc(339px * 1.3);
}




#loadAndiSystem {
	width:calc(338px * 1.3);
	height:calc(640px * 1.3);
}

#UAZBbCmpv {
	top:calc(30px * 1.3);
}

#UARzILIy {
	width: calc(296px * 1.3);
    height: calc(145px * 1.3);
	border-radius: calc(2px * 1.3);
}

#UARzILIy #UARzILIytext{
	margin:calc(30px * 1.3) auto 0;
	width: calc(237px * 1.3);
	border-radius: calc(2px * 1.3);
}

#UAnPdvEdT ,#UAkZlqyGhe{
	width:calc(120px * 1.3);
	height:calc(30px * 1.3);
	padding-top:calc(10px * 1.3);
}

#UAkZlqyGhe {
	width:calc(120px * 1.3);
	height:calc(30px * 1.3);
	padding-top:calc(10px * 1.3);
}


#UAQjCWoXcZ,
#UAofaengDz {
	width:calc(120px * 1.3);
	height:calc(30px * 1.3);
	padding-top:calc(10px * 1.3);
}

#UAaubys{
	width: calc(30px * 1.3);
    height: calc(30px * 1.3);
}

#UAwNeYOByX {
	width: calc(30px * 1.3);
    height: calc(30px * 1.3);
}

#UAIcBefao #UAENUnjI {
	bottom: calc(10px * 1.3);
}

#UAEaFgDFR {
	bottom: calc(10px * 1.3);
}

#UAgXrpjfX, #UAEeAPSsWF ,#UAEaFgDFR svg{
	width:calc(20px * 1.3);
	height:calc(20px * 1.3);
}

#UAgXrpjfX {
	bottom:calc(4px * 1.3);
}

#UAEeAPSsWF {
	bottom: calc(4px * 1.3);
	
}

#UAWqVkG {
	margin: 0 auto calc(-11px * 1.3);
	width: calc(40px * 1.3);
}

#UAdzSnfLVY {
    height: calc(3px * 1.3);
    margin: calc(1px * 1.3) auto;
}


#UAzeisMNcy {
	margin: 0px auto calc(7px * 1.3);
    width: calc(3px * 1.3);
    height: calc(10px * 1.3);
}

#UArhKTU {
	top: calc(-20px * 1.3);
}

#UAfqTFWWMQ{
	width: calc(3px * 1.3);
	height: calc(10px * 1.3);
}

#UAIcBefao{
	width:calc(201px * 1.3);
	height: calc(95px * 1.3);
	font-size: calc(14px * 1.3);
	margin-top: calc(7px * 1.3);
	box-shadow: 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5);
}

.UAtCxOvBRG [role="button"]:hover,
.UAtCxOvBRG select:hover,
.UAtCxOvBRG input:hover,
.UAtCxOvBRG [role="button"]:focus,
.UAtCxOvBRG select:focus,
.UAtCxOvBRG input:focus {
	outline: calc(1px * 1.3) solid #fff !important;
}

.UAdZSDINSq .UABdiAiCR {
	border-radius: calc(2px * 1.3);
}

#UAeXooJnfA .UAinPVvJa .UAhRfqiX {
	border:calc(1px * 1.3) solid #fff !important; 
	border-radius: calc(35px * 1.3) !important; 
	bottom: calc(10px * 1.3) !important; 
	width: calc(25px * 1.3); 
    height: calc(25px * 1.3);
	padding-top:calc(3px * 1.3);
	padding-right:calc(2px * 1.3);
	padding-left:calc(2px * 1.3);
}

#UAbZcsY .UAafOTN {
	bottom:calc(10px * 1.3) !important; 
	width: calc(40px * 1.3); 
    height: calc(15px * 1.3);
	line-height: calc(15px * 1.3);
}

#UARzILIy :focus{
	outline: calc(1px * 1.3)  solid #000;
}

img[src*="UAQaytDx.png"]{
	width:  calc(320px * 1.3); 
	height:  calc(115px * 1.3);
}

#UAQwBTcC img,
#UATvARk img {
	margin: calc(8px * 1.3) auto;
    width: calc(16px * 1.3);
}



#UAuhPooxoQtab1middleHelp {
	width: calc(320px * 1.3);
    height: calc(445px * 1.3);
	top: calc(195px * 1.3);
}

#UAuhPooxoQtab1middleHelp .UAdsYhFryNskipbtn {
	top: calc(3px * 1.3);
	right: calc(3px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
}

#UAuhPooxoQtab1middleHelp .UAdsYhFryNimg img{
	width: calc(320px * 1.3) !important;
	height: calc(445px * 1.3) !important;
	
}

#UAuhPooxoQtab1middleHelp .UAdsYhFryNchangetolivetext{
	bottom: calc(3px * 1.3);
	right: calc(3px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
}



#UAuhPooxoQtab1SmalleHelp {
    width: calc(306px * 1.3);
    height: calc(100px * 1.3);
    margin: calc(6px * 1.3) auto 0;
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
}

#UAuhPooxoQtab1SmalleHelp .UAdsYhFryNskipbtn {
	top: calc(3px * 1.3);
	right:calc(3px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
}

#UAuhPooxoQtab1SmalleHelp .UAdsYhFryNimg img{
	width: calc(306px * 1.3) !important;
	height: calc(100px * 1.3) !important;
	
}

#UAuhPooxoQtab1SmalleHelp .UAdsYhFryNchangetolivetext{
	bottom: calc(3px * 1.3);
	right:calc(3px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
}











#UAuhPooxoQtab1LargeHelp {
    width: calc(320px * 1.3);
    height:calc(500px * 1.3);
    box-shadow: 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5)
}


#UAuhPooxoQtab1LargeHelp #UAuWgkHwHelp{
    width: calc(320px * 1.3);
    height:calc(30px * 1.3) ;
}


#UAuhPooxoQtab1LargeHelp  #UAEOPVyloseHelp input{
	width: calc(20px * 1.3);
	height: calc(20px * 1.3);
	padding:calc(3px * 1.3) calc(3px * 1.3) 0;
}
#UAuhPooxoQtab1LargeHelp #UAkLXLFcmFooter2{
	width: calc(320px * 1.3);
    height: calc(35px * 1.3);
}

#UAuhPooxoQtab1LargeHelp #UAkLXLFcmFooter2 a{
    font-size: calc(14px * 1.3);
    line-height: calc(35px * 1.3);
}

#UAuhPooxoQtab1LargeHelp .UAdsYhFryNskipbtn {
	top: calc(3px * 1.3);
	right:calc(3px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	font-size: calc(16px * 1.3);
    padding: 1px calc(5px * 1.3);
    margin: calc(2px * 1.3);
}

#UAuhPooxoQtab1LargeHelp .UAdsYhFryNimg img{
	width: calc(320px * 1.3) !important;
	height: calc(445px * 1.3) !important;
	
}

#UAuhPooxoQtab1LargeHelp .UAdsYhFryNchangetolivetext{
	bottom: calc(38px * 1.3);
	right:calc(3px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	font-size: calc(16px * 1.3);
    padding: 1px calc(2px * 1.3);
    margin: calc(2px * 1.3);
}

#UAXrXQBkb #UAkLXLFcm .UAfFnho img {
	width: calc(149px * 1.3);
	height: calc(149px * 1.3);
	
}
