<div id="header" data-ng-controller="Header as vm">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" data-ng-init="vm.topNavLang = true">
                <a class="navbar-brand" href="#">
                    <div class="tree toL"><img src="static/images/tree.gif"></div>
                    <span class="toL"><img data-ng-src="{{vm.logoImage}}"></span>
                </a>
                <button type="button" class="navbar-toggle collapsed" data-ng-click="vm.topNavLang = !vm.topNavLang">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="white-wrappwer" data-ng-show="vm.topNavLang">
                <nav class="nav langs-nav">
                    <a data-ng-repeat="item in vm.languages" data-ng-href="/{{item.key|lowercase}}"
                       data-ng-class="{'nav-link': true, active: vm.isCurrentLang(item)}">
                        {{item.caption}}
                    </a>
                    <div id="tech-support" class="navbar-right hidden-sm  hidden-xs">
                        <a href="" data-ng-click="vm.gotoHelpMessage()">
                            <img data-ng-src="{{vm.helpImage}}" alt="technical support" border="0" width="226"
                                 height="50"/>
                        </a>
                    </div>

                </nav>
            </div>
        </div>
    </nav>
    <nav class="links-nav">
        <a data-ng-repeat="item in vm.links" data-ng-href="{{item.url}}" class="nav-link" title="{{item.title}}">
            {{item.caption}}
        </a>
    </nav>
</div>