<div id="header" data-ng-controller="Header as vm">
	<div class="tree toL"><img src="static/images/tree.gif"></div>
	<div class="white-wrappwer">
		<a href="/" class="toL">
            <img data-ng-src="{{vm.logoImage}}">
        </a>
		<div id="tech-support" class="toR">
			<!-- mibew button -->
			<a href="http://live.kab.tv/client.php?locale=he&style=silver_he&group=3" target="_blank" 
				onclick="if(navigator.userAgent.toLowerCase().indexOf('opera') != -1 && window.event.preventDefault) window.event.preventDefault();this.newWindow = window.open('http://live.kab.tv/client.php?locale=he&style=silver_he&group=3&url='+escape(document.location.href)+'&referrer='+escape(document.referrer), 'mibew', 'toolbar=0,scrollbars=0,location=0,status=1,menubar=0,width=640,height=480,resizable=1');this.newWindow.focus();this.newWindow.opener=window;return false;">
				<img data-ng-src="{{vm.helpImage}}" alt="technical support" border="0" width="226" height="50" />
			</a>
			<!-- / mibew button -->
		</div>
		<nav class="langs-nav">
		    <a data-ng-repeat="item in vm.languages" data-ng-href="/{{item.key|lowercase}}"
			   data-ng-class="{'nav-link': true, selected: vm.isCurrentLang(item)}">
                {{item.caption}}
            </a>
		</nav>
	</div>
	<nav class="links-nav">
		<a data-ng-repeat="item in vm.links" data-ng-href="{{item.url}}" class="nav-link" title="{{item.title}}">
			{{item.caption}}
		</a>
	</nav>
</div>