<div id="header" data-ng-controller="Header as vm">
	<div class="tree toL"><img src="static/images/tree.gif"></div>
	<div class="white-wrappwer">
		<a href="/" class="toL">
            <img data-ng-src="{{vm.logoImage}}">
        </a>
		<div id="tech-support" class="toR">
			<a href="" data-ng-click="vm.gotoHelpMessage()">
				<img data-ng-src="{{vm.helpImage}}" alt="technical support" border="0" width="226" height="50" />
			</a>
		</div>
		<nav class="langs-nav">
		    <a data-ng-repeat="item in vm.languages" data-ng-href="/{{item.key|lowercase}}"
			   data-ng-class="{'nav-link': true, selected: vm.isCurrentLang(item)}">
                {{item.caption}}
            </a>
		</nav>
	</div>
	<nav class="links-nav">
		<a data-ng-repeat="item in vm.links" data-ng-href="{{item.url}}" class="nav-link" title="{{item.title}}">
			{{item.caption}}
		</a>
	</nav>
</div>