<div class="{{vm.pageDirection}} allContent" data-ng-controller="Shell as vm">
    <div id="splash-page" data-ng-show="vm.showSplash">
        Kab Tv Splash page
    </div>

    <header class="clearfix">
        <div data-ng-include="'app/layout/header.html'"></div>
    </header>

    <section id="content" class="content">
        <div data-ng-include="'app/vod/vod.html'"></div>
        <div data-ng-view></div>
        <div data-ng-include="'app/tabs/tabs.html'"></div>
    </section>

    <footer id="footer" class="clearfix toL">
        <div data-ng-include="'app/layout/footer.html'"></div>
    </footer>
</div>


