<div class="clearfix" ng-controller="PlayListController as vm">{{vm.currentPlayListItem.content_type}}
    <kabtv-jw-player ng-if="vm.currentPlayListItem.content_type == 'HLS'"
                     data-url="{{vm.currentPlayListItem.play_url}}"></kabtv-jw-player>

    <kabtv-wmv-player ng-if="vm.currentPlayListItem.content_type == 'WMV'"
                      data-url='vm.currentPlayListItem.play_url'>
    </kabtv-wmv-player>

    <div class="playerPanel">
        <h2 class="vod-item-title">{{vm.currentPlayListItem.title}}</h2>
        <label>
            {{vm.currentPlayListItem.caption}}
        </label>
    </div>
</div>