<div class="clearfix" ng-controller="Stream as vm">
    <div class="tabs">
        <div class="tabBtn select">
            {{'PLAYER_VIDEO' | translate}}
        </div>
        <div ng-click="vm.getAudio()" class="tabBtn" ng-if="hasAudio(currentPlayerLang)">
            {{'PLAYER_AUDIO' | translate}}
        </div>
        <div class="broadcastTime" translate="PLAYER_BROADCAST_TIME" translate-value-time="{{broadcastTime}}"></div>
    </div>
    <kabtv-jw-player ng-if="vm.streamObj[vm.currentPlayerLang.key][vm.currentPlayerQuality].format == 'hls'"
                  data-url="{{vm.streamObj[vm.currentPlayerLang.key][vm.currentPlayerQuality].url}}"></kabtv-jw-player>
    <kabtv-wmv-player ng-if="vm.streamObj[vm.currentPlayerLang.key][vm.currentPlayerQuality].format == 'wmv'"
                      data-url='vm.url'>
    </kabtv-wmv-player>


    <div class="playerPanel">
        <label ng-repeat="item in vm.streamObj"
               class="langs {{(vm.currentPlayerLang.key == item.language.key) ? 'selected': '';}}">
            {{item.language.caption}}
            <input type="radio" ng-model="vm.currentPlayerLang" ng-value="item.language"
                   ng-change="vm.switchPlayerLang(item.language)" name="vm.switcherLang-{{item.language.key}}"/>
        </label>

        <div class="qualitySwitcher" ng-if="vm.streamObj[vm.currentPlayerLang].length > 0" ng-show="$root.isOnlineTran">
            <label ng-repeat="itemStream in vm.streamObj[vm.currentPlayerLang] | orderBy: itemStream.quality"
                   class="langs {{(vm.currentPlayerQuality == item.quality) ? 'selected': '';}}">
                {{itemStream.quality.toUpperCase() | translate}}
                <input type="radio" ng-model="vm.currentPlayerQuality" value="itemStream.quality"
                       name="vm.switcherQuality-{{item.language}}" ng-change="vm.playerQualityChange(item.quality)"/>
            </label>
        </div>
    </div>
</div>