<div class="clearfix">
    <div class="tabs">
        <div data-ng-click="vm.playVideo()" data-ng-class="{'tab-button': true, 'select': vm.isVideo}">
            {{'PLAYER_VIDEO' | translate}}
        </div>
        <div data-ng-click="vm.playAudio()" data-ng-class="{'tab-button': true, 'select': vm.isAudio}"
             data-ng-if="vm.hasAudio">
            {{'PLAYER_AUDIO' | translate}}
        </div>
        <div class="jerusalem-time" translate="PLAYER_BROADCAST_TIME" translate-value-time="{{vm.jerusalemTime}}"></div>
    </div>

    <div id="player">
        <kabtv-jw-player data-ng-if="vm.isVideo && vm.isHLS" data-stream="vm.stream"></kabtv-jw-player>
        <!--<kabtv-wmv-player data-ng-if="vm.isVideo && vm.isWMV" data-url='vm.stream.url'></kabtv-wmv-player>-->
        <kabtv-sound-player data-ng-if="vm.isAudio" data-url='vm.audioStream.url'></kabtv-sound-player>
    </div>

    <div class="player-panel">
        <label data-ng-repeat="item in vm.alternateLanguages"
               class="langs {{(vm.currentPlayerLang.key == item.language.key) ? 'selected': '';}}"
               data-ng-if="isLive || !item.is_live_only">
            {{item.language.caption}}
            <input type="radio" data-ng-model="vm.currentPlayerLang" data-ng-value="item.language.key"
                   data-ng-change="vm.changeLanguage(item.language)" name="vm.switcher-language-{{item.language.key}}"/>
        </label>

        <div class="quality-switcher" data-ng-show="vm.showQualitySelection()">
            <span>{{'STREAM_QUALITY' | translate}}: </span>
            <label data-ng-repeat="item in vm.alternateQualities | orderBy: item.quality" class="langs">
                {{item.quality.toUpperCase() | translate}}
                <input type="radio" data-ng-model="vm.currentPlayerQuality" value="item.quality"
                       name="vm.switcher-quality-{{item.quality}}" data-ng-change="vm.changeQuality(item.quality)"/>
            </label>
            <label class="langs selected">
                {{vm.currentPlayerQuality.toUpperCase() | translate}}
            </label>
        </div>
    </div>
    <p ng-if="vm.siteDescription">{{ vm.siteDescription }} </p>
</div>