<div class="clearfix">
    <div class="tabs">
        <div data-ng-click="vm.playVideo()" class="tabBtn select">
            {{'PLAYER_VIDEO' | translate}}
        </div>
        <div data-ng-click="vm.playAudio()" class="tabBtn" data-ng-if="vm.hasAudio">
            {{'PLAYER_AUDIO' | translate}}
        </div>
        <div class="broadcastTime" translate="PLAYER_BROADCAST_TIME" translate-value-time="{{vm.jerusalemTime}}"></div>
    </div>

    <div id="player">
        <kabtv-jw-player data-ng-if="vm.isVideo && vm.isHLS" data-url="vm.stream.url"></kabtv-jw-player>
        <kabtv-wmv-player data-ng-if="vm.isVideo && vm.isWMV" data-url='vm.stream.url'></kabtv-wmv-player>
        <kabtv-sound-player data-ng-if="vm.isAudio" data-url='vm.audioStream.url'></kabtv-sound-player>
    </div>

    <div class="player-panel">
        <label data-ng-repeat="item in vm.alternateLanguages"
               class="langs {{(vm.currentPlayerLang.key == item.language.key) ? 'selected': '';}}">
            {{item.language.caption}}
            <input type="radio" data-ng-model="vm.currentPlayerLang" data-ng-value="item.language.key"
                   data-ng-change="vm.changeLanguage(item.language)" name="vm.switcher-language-{{item.language.key}}"/>
        </label>

        <div class="quality-switcher" data-ng-show="vm.isLive">
            <label data-ng-repeat="item in vm.alternateQualities | orderBy: item.quality"
                   class="langs {{(vm.currentPlayerQuality == item.quality) ? 'selected': '';}}">
                {{item.quality.toUpperCase() | translate}}
                <input type="radio" data-ng-model="vm.currentPlayerQuality" value="item.quality"
                       name="vm.switcher-quality-{{item.quality}}" data-ng-change="vm.changeQuality(item.quality)"/>
            </label>
        </div>
    </div>
</div>