<div>
    <object id="playerObj" name="playerObj" width="100%" height="305" type="application/x-ms-wmp">
        <param name="autostart" value="true">
        <param name="controller" value="true">
        <param name="volume" value="50">
        <param name="uiMode" value="full">
        <param name="animationAtStart" value="true">
        <param name="showDisplay" value="false">
        <param name="ShowAudioControls" value="true">
        <param name="ShowPositionControls" value="false">
        <param name="transparentAtStart" value="false">
        <param name="ShowControls" value="true">
        <param name="ShowStatusBar" value="true">
        <param name="ShowTracker" value="false">
        <param name="ClickToPlay" value="false">
        <param name="DisplayBackColor" value="#000000">
        <param name="DisplayForeColor" value="#ffffff">
        <param name="balance" value="false">

        <param name="classid" value="CLSID:6BF52A52-394A-11d3-B153-00C04F79FAA6" ng-if="isIE">
        <param name="style" value="background-color: #000000;" ng-if="isIE">
        <param name="url" value="{{vm.url}}" ng-if="isIE">

        <param name="src" value="{{vm.url}}" ng-if="!isIE">
        <param name="type" value="application/x-ms-wmp" ng-if="!isIE">
    </object>

    <a ng-show="showFullScreen" class="fullScreenButton" ng-click="vm.gofs()">
        <img src="images/fs.gif" alt="{{ 'PLAYER_FULLSCREEN' | translate}}" width="14" height="14"/>
        {{ 'PLAYER_FULLSCREEN' | translate}}
    </a>
</div>