<div>
    <object name="wmv-player" type="application/x-ms-wmp" data-ng-if="!isIE">
        <param name="autostart" value="true">
        <param name="controller" value="true">
        <param name="volume" value="50">
        <param name="uiMode" value="full">
        <param name="animationAtStart" value="true">
        <param name="showDisplay" value="false">
        <param name="ShowAudioControls" value="true">
        <param name="ShowPositionControls" value="false">
        <param name="transparentAtStart" value="false">
        <param name="ShowControls" value="true">
        <param name="ShowStatusBar" value="true">
        <param name="ShowTracker" value="false">
        <param name="ClickToPlay" value="false">
        <param name="DisplayBackColor" value="#000000">
        <param name="DisplayForeColor" value="#ffffff">
        <param name="balance" value="false">
        <param name="src" value="{{url}}">
        <param name="fullScreen" value="{{showFullScreen}}">
        <param name="type" value="application/x-ms-wmp">
    </object>

    <object name="wmv-player" classid="CLSID:6BF52A52-394A-11d3-B153-00C04F79FAA6"
            style="background-color: rgb(0, 0, 0);" data-ng-if="isIE">
        <!--<param name="URL" value="{{url}}">-->
        <param name="rate" value="1">
        <param name="balance" value="0">
        <param name="defaultFrame" value="">
        <param name="playCount" value="1">
        <param name="autoStart" value="1">
        <param name="currentMarker" value="0">
        <param name="invokeURLs" value="-1">
        <param name="baseURL" value="">
        <param name="volume" value="50">
        <param name="mute" value="0">
        <param name="uiMode" value="full">
        <param name="stretchToFit" value="0">
        <param name="windowlessVideo" value="-1">
        <param name="enabled" value="-1">
        <param name="enableContextMenu" value="-1">
        <param name="fullScreen" value="0">
        <param name="SAMIStyle" value="">
        <param name="SAMILang" value="">
        <param name="SAMIFilename" value="">
        <param name="captioningID" value="">
        <param name="enableErrorDialogs" value="0">
        <param name="autostart" value="true">
        <param name="controller" value="true">
        <param name="volume" value="50">
        <param name="uiMode" value="full">
        <param name="animationAtStart" value="true">
        <param name="showDisplay" value="false">
        <param name="ShowAudioControls" value="true">
        <param name="ShowPositionControls" value="false">
        <param name="transparentAtStart" value="false">
        <param name="ShowControls" value="true">
        <param name="ShowStatusBar" value="true">
        <param name="ShowTracker" value="false">
        <param name="ClickToPlay" value="false">
        <param name="DisplayBackColor" value="#000000">
        <param name="DisplayForeColor" value="#ffffff">
        <param name="balance" value="false">
        <param name="enabled" value="true">
        <param name="mute" value="false">
        <param name="bgcolor" value="#000000">
        <param name="windowlessVideo" value="1">
    </object>

    <div>
        <a class="full-screen-button" data-ng-click="gofs()">
            <img src="assets/images/fs.gif" alt="{{ 'PLAYER_FULLSCREEN' | translate}}" width="14" height="14"/>
            {{ 'PLAYER_FULLSCREEN' | translate}}
        </a>
    </div>
</div>
