<div class="{{dir}} allContent">
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
        improve your experience.</p>
    <![endif]-->
    <div kabtv-send-to-friends ng-show = "showDialogSendToFriends" class="dialog dialogSendToFriends"></div>
    <div class="container">
        <div kabtv-header></div> 
        <div kabtv-nav></div>
        <div class="content clearfix">
            <div kabtv-clip-list class="aside toR clipList clearfix">111</div>
            <div kabtv-tabs class="aside toL clearfix">222</div>
            <div class="mid"  ng-view></div>
        </div>
        <div kabtv-footer class="footer"></div>
    </div>
</div>