<div class="clearfix">
	<div class="backToOnLine" ng-click="getStream()">back to online</div>
	<div id="player" ng-hide = "showDialogSendToFriends"></div>
	<a ng-show="showFullScreen" class="fullScreenButton" ng-click="gofs()"><img src="images/fs.gif" alt="למסך מלא" width="14" height="14"/> למסך מלא</a>
	<div class="playerPanel playerDescription">
		<span class="clipTitle">{{playerData.title}}</span>
		<a href="{{playerData.download_url}}" class="downloadIcon clipIconBig">
			<img src="images/save.gif" title="הורד קובץ">{{playerData.size}}
		</a>		
		<p>{{playerData.description}}</p>
	</div>
</div>