<div class="clearfix">
	<div class="backToOnLine" ng-show = "isClip" ng-click="isClip = false; setPlayer()">back to online</div>
	<div class="tabs" ng-hide = "isClip">
		<div ng-click="switchVideoAudio(true)" class="tabBtn {{isVideo? 'select': '';}}">video</div>
		<div ng-click="switchVideoAudio(false)" class="{{isVideo? '':'select';}} tabBtn">audio</div>
	</div>
	<div id="player" ng-hide = "showDialogSendToFriends"></div>
	<a ng-show="showFullScreen" class="fullScreenButton" ng-click="gofs()"><img src="images/fs.gif" alt="למסך מלא" width="14" height="14"/> למסך מלא</a>
	<div ng-hide = "isClip" class="playerPanel">
		<a  ng-repeat="item in payerData | filter:videoFilter" class="langs {{(Lang == item.language) ? 'selected': '';}}" ng-click="switchPlayerLang(item.language)">{{item.language}}</a>
	</div>
	<div ng-show = "isClip" class="playerPanel playerDescription">
		<span class="clipTitle">{{clipData.title}}</span>
		<a href="{{clipData.downloadIcon.url}}" class="downloadIcon clipIconBig">
			<img src="images/save.gif" title="הורד קובץ">{{clipData.size}}
		</a>		
		<p>{{clipData.description}}</p>
	</div>
</div>