<div class="clearfix">
	<div class="tabs">		
		<div ng-click="switchVideoAudio(true)" class="tabBtn {{isVideo? 'select': '';}}">
            {{'PLAYER_VIDEO' | translate}}
        </div>
		<div ng-click="switchVideoAudio(false)" class="{{isVideo? '':'select';}} tabBtn" ng-if="hasAudio(currentPlayerLang)">
            {{'PLAYER_AUDIO' | translate}}
        </div>
        <div class="broadcastTime" translate="PLAYER_BROADCAST_TIME" translate-value-time="{{broadcastTime}}"></div>
	</div>

	<div id="player"></div>

    <a ng-show="showFullScreen" class="fullScreenButton" ng-click="gofs()">
        <img src="images/fs.gif" alt="{{ 'PLAYER_FULLSCREEN' | translate}}" width="14" height="14"/>
        {{ 'PLAYER_FULLSCREEN' | translate}}
    </a>
    
    <div class="playerPanel">
        <label ng-repeat="item in playerData | filter:videoFilter"  class="langs {{(currentPlayerLang == item.language) ? 'selected': '';}}">
            {{item.language}}
            <input type="radio" ng-model="currentPlayerLang" value="item.language" ng-change="switchPlayerLang(item.language)" name="switcherLang-{{item.language}}" />
        </label>

        <div class="qualitySwitcher" ng-if="hasPlayerDataQuality()">
            <label ng-repeat="item in playerDataQuality | orderBy: item.quality" ng-if="currentPlayerLang == item.language"  class="langs {{(currentPlayerQuality == item.quality) ? 'selected': '';}}">
                {{item.quality.toUpperCase() | translate}}
                <input type="radio" ng-model="currentPlayerQuality" value="item.quality" name="switcherQuality-{{item.language}}" ng-change="playerQualityChange(item.quality)" />
            </label>
        </div>
    </div>
</div>