<div class="clearfix">
	<div class="backToOnLine" ng-show = "isClip" ng-click="isClip = false; setPlayer()">back to online</div>
	<div class="tabs" ng-hide = "isClip">
		<div ng-click="switchVideoAudio(true)" class="tabBtn {{isVideo? 'select': '';}}">video</div>
		<div ng-click="switchVideoAudio(false)" class="{{isVideo? '':'select';}} tabBtn">audio</div>
	</div>
	<div id="player" ng-hide = "showDialogSendToFriends"></div>
	<div ng-hide = "isClip">
		<span ng-repeat="(lang, item) in payerData" class="{{(currentLang == lang) ? 'selected': '';}}" ng-click="switchPlayerLang(lang)">{{item.title}}</span>
	</div>
	<div ng-show = "isClip">
		<h5>
			{{clipData.text.title}}
			<a href="{{clipData.downloadIcon.url}}" class="downloadIcon clipIconBig">
				<img src="{{clipData.downloadIcon.img.src}}" title="{{clipData.downloadIcon.img.title}}">{{clipData.clipData.size}}
			</a>
		</h5>
		<p>{{clipData.text.text}}</p>
	</div>
</div>