<div class="clearfix">
	<div class="tabs">		
		<div ng-click="switchVideoAudio(true)" class="tabBtn {{isVideo? 'select': '';}}">
            {{'PLAYER_VIDEO' | translate}}
        </div>
		<div ng-click="switchVideoAudio(false)" class="{{isVideo? '':'select';}} tabBtn">
            {{'PLAYER_AUDIO' | translate}}
        </div>
        <div class="broadcastTime" translate="PLAYER_BROADCAST_TIME" translate-value-time="{{broadcastTime}}"></div>
	</div>

	<div id="player"></div>

    <a ng-show="showFullScreen" class="fullScreenButton" ng-click="gofs()">
        <img src="images/fs.gif" alt="{{ 'PLAYER_FULLSCREEN' | translate}}" width="14" height="14"/>
        {{ 'PLAYER_FULLSCREEN' | translate}}
    </a>
    <div>
        <input type="radio" ng-model="playerQuality.current" ng-repeat="urlObj in playerQuality.list | filter:qualityFilter" ng-value="urlObj" ng-change = "playerQuality.change()" />
    </div>
    <div class="playerPanel">
		<a  ng-repeat="item in playerData | filter:videoFilter"
            class="langs {{(Lang == item.language) ? 'selected': '';}}"
            ng-click="switchPlayerLang(item.language)">{{item.language}}</a>
	</div>
</div>