<div class="valign">
	<div class="window">
		<div ng-click="closeWindow()" class="btn close-X disableSelect">X</div>
		<h2>TItle</h2>
		<form  ng-submit="sendToFriendSubmit()">
			<ul>
				<li>
					<label>send  to:</label>
					<input type="email" ng-model="sendData.to" required="" />
				</li>
				<li>
					<label>name:</label>
					<input type="text" ng-model="sendData.name" />
				</li>
				<li>
					<label>email:</label>
					<input type="email" ng-model="sendData.email"  required="" />
				</li>
				<li>
					<label>message:</label> 
					<textarea ng-model="sendData.message"  required="" ></textarea>
				</li>
				<li><input type="submit" value="Submit" class="toRs submit"/></li>
			</ul>
		</form>
	</div>
</div>