<div class="tabs" id="asideTabIframe" ng-controller="kabtvTabs">
	<div ng-repeat="item in tabs"
         class="tabBtn {{currentTab == item ? 'select': '';}}"
         ng-click="switchTab(item)">
        {{item | translate}}
    </div>
    <div ng-include="currentTab + '.tpl'"  class="forIframe"></div>
</div>
<!-- templates for switcher -->

<script type="text/ng-template" id="TAB_UPDATES.tpl">
    <div class="updates" ng-include="'views/updates.html'"></div>
</script>

<script type="text/ng-template" id="TAB_SCHEDULE.tpl">
    <iframe ng-src="{{currentTabUrl}}" frameborder="0" scroll></iframe>
</script>
<script type="text/ng-template" id="TAB_QUESTIONS.tpl">

    <iframe ng-src="{{currentTabUrl}}" frameborder="0"></iframe>
</script>
<script type="text/ng-template" id="TAB_SKETCHES.tpl">
    <iframe ng-src="{{currentTabUrl}}" frameborder="0"></iframe>
</script>