/* 
	1.3 
	transition: color 0.35s , background-color 0.35s;
*/


[id^="UATrnXLq"] {
	width: calc(20px * 1.3);
	height: calc(20px * 1.3);
}

.andiOpenSubMenu { 
	width: calc(15px * 1.3);
	height: calc(15px * 1.3);
	
}
#UAzoTQf, #UATdkKPmN {
	max-height:calc(510px * 1.3) !important;
}


.UAGffOU,
#UAGffOU {
	width: calc(30px * 1.3);
	height: calc(30px * 1.3);
}

#UAwPvdmB input[type="image"], #UAKonKJ input[type="image"] {
	width:calc(15px * 1.3) ;
	height:calc(15px * 1.3) ;
	margin: calc(7px * 1.3) calc(5px * 1.3) calc(3px * 1.3);
}
#UAnDGwOoTr img{
	width: calc(23px * 1.3) !important;
}

#UAqKHuDh, #UAqKHuDh *, #UAdIzLniaB, #UAdIzLniaB * ,#UAFJiPW,#UABhwrXCm *{
	line-height: calc(20px * 1.3);
	font-size:calc(16px * 1.3);
}

#UAKDcFOe img{
	margin-top:calc(5% * 1.3);
	width:calc(35px * 1.3);
	height:calc(35px * 1.3);
}


.UAbIWVQrwakeBuggerMenu{
	font-size: calc(24px * 1.3) !important;
}

#UAvdJCDQ > div > div > div:hover::before, #UAvdJCDQ > div > div > div:hover::before {
	border-left: calc(20px * 1.3) solid transparent;
	border-right: calc(20px * 1.3) solid transparent;
	border-top: calc(20px * 1.3) solid #f00;
}
		
#UAvdJCDQ > div > div > div:focus:before, #UAvdJCDQ > div > div > div:focus:before {
	border-width: 0 calc(100px * 1.3) calc(100px * 1.3) calc(100px * 1.3);
}

#UAvdJCDQ > div > div > div:hover:after, #UAvdJCDQ > div > div > div:hover:after {
	border-radius: calc(1px * 1.3);
	padding: calc(5px * 1.3) calc(5px * 1.3);

}




 #UAvdJCDQ > div > div > div:focus:after, #UAvdJCDQ > div > div > div:focus:after {
	border-radius: calc(1px * 1.3);
	
	padding: calc(5px * 1.3) calc(5px * 1.3);
	
}

#UAqKHuDh {
	width: calc(320px * 1.3)  !important;
}

#UAVnGJJkp {
    width:calc(233px * 1.3);
    height:calc(233px * 1.3);
}


#UArBAzJuF {
	width:calc(320px * 1.3);
	height:calc(30px * 1.3);
	padding:calc(5px * 1.3);
}
#UAVnGJJkp input {
	width:calc(40px * 1.3);
	height:calc(20px * 1.3);
}

#UAFzApg {
	width:calc(320px * 1.3);
	height:calc(165px * 1.3);
	font-size:calc(16px * 1.3);
	padding:calc(5px * 1.3) calc(10px * 1.3);
}
#UAFzApg *{
	font-size:calc(16px * 1.3);
}

#UAVacptNpJ{
	font-size:calc(16px * 1.3);
	padding:calc(5px * 1.3) calc(5px * 1.3);

}
#UAIbjHp{
	width:calc(85px * 1.3);
	height:calc(35px * 1.3);
	margin-top: calc(110px * 1.3);
	border-radius: calc(3px * 1.3);
	font-size:calc(20px * 1.3);
	padding-top: calc(7px * 1.3);

}

#UAYrozqIcd{
	width:calc(85px * 1.3);
	height:calc(35px * 1.3);
	margin-top: calc(110px * 1.3);
	border-radius: calc(3px * 1.3);
	font-size:calc(20px * 1.3);
	padding-top: calc(7px * 1.3);
}

#UAKzYNDez{
	height:calc(7px * 1.3)75px;
}
#UADDnzQq{
	height:calc(1px * 1.3);
	margin:calc(2px * 1.3) 0;

}
#UAplmoJB{
	height:calc(75px * 1.3);
	margin-top: calc(-8px * 1.3);
}

#UAhEein {
	width:calc(320px * 1.3);
	height:calc(35px * 1.3);
	padding:calc(2px * 1.3) calc(2px * 1.3);
	font-size:calc(14px * 1.3);
}

#UAhEein a{
    padding:calc(2px * 1.3) calc(2px * 1.3);
	font-size:calc(14px * 1.3);
}

#UAqKHuDh #UAifxaqUq {
	width: calc(320px * 1.3);
	height: calc(30px * 1.3);
}

#UAqKHuDh #UAifxaqUq #UAwPvdmB #UAFqXgXCU, #UAqKHuDh #UAifxaqUq #UAwPvdmB #UAvcwaHFbB, #UAqKHuDh #UAifxaqUq #UAwPvdmB #UAbhbOBC {
	width: calc(30px * 1.3);
	height: calc(30px * 1.3);
}

#UAqKHuDh #UAvdJCDQ {
	width: calc(320px * 1.3);
	height: calc(65px * 1.3);

}

#UAqKHuDh #UAvdJCDQ > div > div > div svg {
	margin: calc(10px * 1.3) auto 0;
	width: calc(35px * 1.3);
}

#UAqKHuDh #UAvdJCDQ .UAvdJCDQMarkIfSelected {
	height: calc(3px * 1.3);
	width: calc(80px * 1.3);
}

#UAqKHuDh #UAvdJCDQ > div {
	line-height: calc(4px * 1.3);
}

#UAqKHuDh .UALYmyzcB{
	height: calc(3px * 1.3);
}

#UAqKHuDh #UAvdJCDQ > div > div {
	width: calc(80px * 1.3);
	height: calc(64px * 1.3);
}

#UAqKHuDh #UATuMVO {
	width: calc(320px * 1.3);
	height: calc(65px * 1.3);
	padding-top: calc(16px * 1.3);
}

#UAfAtNIM ,#UANvGSuohM {
	font-size: calc(14px * 1.3);
	line-height: calc(30px * 1.3);
}
#UAyVidFxTc ,#UAiDSVgg{
	font-size: calc(18px * 1.3);
	border-radius: calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3);
	-moz-border-radius: calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3);
	-webkit-border-radius: calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	padding: 0px calc(10px * 1.3);
	width:calc(295px * 1.3);
	line-height: calc(30px * 1.3);	
	height: calc(30px * 1.3);

}

#UAqKHuDh #UATuMVO #UAMYgPO #UAyVidFxTc img{
	width:calc(25px * 1.3);
	margin: calc(6px * 1.3) calc(-2px * 1.3);
}

#UAqKHuDh #UATuMVO #UAMYgPO #UAyVidFxTc img.UAEfHmBeeActiveBasicAcccessibilityIcon {
	margin: calc(6px * 1.3) calc(-2px * 1.3);
}

#UAqKHuDh #UAggeFur {
	width: calc(320px * 1.3);
	height: calc(35px * 1.3);
	box-shadow: inset 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5);
}


#UAagVJmpMP {
	width: calc(320px * 1.3);
	height: calc(32px * 1.3);
}

#UAqKHuDh #UAggeFur #UAswNUFoiP {
	margin: 0px calc(10px * 1.3);
	font-size: calc(16px * 1.3);
	width: calc(300px * 1.3);
	height: calc(30px * 1.3);
    padding-top: calc(7px * 1.3);
}

#UAqKHuDh #UAggeFur img {
	width: calc(14px * 1.3);
	height: calc(5px * 1.3);
	margin: calc(7px * 1.3) calc(128px * 1.3) 0 0;
}

#UAqKHuDh #UATVXOSR {
	width: calc(320px * 1.3);
	height: calc(410px * 1.3);
}


#UAqKHuDh  #UARAuGJu {
	width: calc(320px * 1.3);
	height: calc(35px * 1.3);
	padding:0 calc(3px * 1.3) 0;
}

#UAqKHuDh  #UARAuGJu a {
	font-size: calc(14px * 1.3);
	line-height: calc(35px * 1.3);
}



#UAqKHuDh .UAxGhOLjb .UARAuGJu {
	width: calc(320px * 1.3);
	height: calc(35px * 1.3);
	padding:0 calc(3px * 1.3) 0;
}

#UAqKHuDh .UAxGhOLjb .UARAuGJu a {
	font-size: calc(14px * 1.3);
	line-height: calc(35px * 1.3);
}

#UAqKHuDh #UATVXOSR .UAIhFwE {
	margin: calc(7px * 1.3) 0px 0px calc(7px * 1.3);
	-webkit-box-shadow: 0px 0px calc(5px * 1.3) calc(-2px * 1.3) rgba(0,0,0,0.54);
	-moz-box-shadow: 0px 0px calc(5px * 1.3) calc(-2px * 1.3) rgba(0,0,0,0.54);
	box-shadow: 0px 0px calc(5px * 1.3) calc(-2px * 1.3) rgba(0,0,0,0.54);
   
}

#UAqKHuDh #UATVXOSR .UApLzTx {
	width: calc(150px * 1.3);
	height: calc(195px * 1.3);
}

#UAqKHuDh #UATVXOSR .UApLzTx p {
	line-height: calc(20px * 1.3);
	width: calc(133px * 1.3);
	height: calc(60px * 1.3);
	font-size: calc(18px * 1.3) !important;
	padding-top: calc(118px * 1.3);
}

#UAqKHuDh .UAiVtnX .UAPTScX  p {
	font-size: calc(16px * 1.3) !important;
	padding: calc(2px * 1.3) calc(3px * 1.3);
}


#UAZLYTptzQ {
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.85);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.85);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.85);
}

#UAqKHuDh #UATVXOSR .UAxGhOLjb {
	width: calc(338px * 1.3);
	height: calc(575px * 1.3);
}

#UAqKHuDh #UATVXOSR .UAIhFwE .UAzVCNF {
	width: calc(320px * 1.3);
	height: calc(64px * 1.3);
	-webkit-box-shadow: 0px calc(4px * 1.3) calc(5px * 1.3) calc(-4px * 1.3) rgba(0,0,0,0.7);
	-moz-box-shadow: 0px calc(4px * 1.3) calc(5px * 1.3)5px calc(-4px * 1.3) rgba(0,0,0,0.7);
	box-shadow: 0px calc(4px * 1.3) calc(5px * 1.3)5px calc(-4px * 1.3) rgba(0,0,0,0.7);
}

#UAqKHuDh #UATVXOSR .UAIhFwE .UAiVtnX {
	width: calc(320px * 1.3); 	
}

#UAqKHuDh #UATVXOSR .UAIhFwE .UAyspTsb {
	width: calc(320px * 1.3);
	margin-top: calc(30px * 1.3);
}

#UAqKHuDh #UATVXOSR .UAIhFwE #UAGhNjJuAT {
	width: calc(300px * 1.3);
	height: calc(185px * 1.3);
	padding-top: calc(10px * 1.3);
}

#UAqKHuDh #UATVXOSR .UAIhFwE #UArMTuyT {
	width: calc(145px * 1.3);
	height: calc(185px * 1.3);
}

#UATVXOSR .UAFdTDcu {
	width: calc(149px * 1.3);
	height: calc(110px * 1.3);
}

#UAFcDZr .UANCSnQLspace {
	width:calc(45px * 1.3);
	height:calc(35px * 1.3);
}

#UAFcDZr .UANCSnQLspace img{
	width:calc(35px * 1.3);
	height:calc(25px * 1.3);
}


#UATVXOSR .UAumBHc img {
	margin: 0px calc(3px * 1.3) 0 !important;
}



#UATVXOSR .UAumBHc {
	width: calc(150px * 1.3) !important;
	height: calc(110px * 1.3) !important;
}

#UATVXOSR .UAFdTDcu .UAUBuvn {
	margin: calc(10px * 1.3) auto 0;
	padding: 0 calc(12px * 1.3);
}

#UArMTuyT label {
	margin: calc(5px * 1.3) calc(15px * 1.3) 0;
	font-size: calc(13px * 1.3);
}

#UAXXPMH {
	margin: 0 calc(15px * 1.3);
	font-size: calc(16px * 1.3);
	height: calc(20px * 1.3);
	border-bottom: calc(1px * 1.3) solid #fff;
}

#UAXXPMH:before {
	font-size: calc(18px * 1.3);
	height: calc(20px * 1.3);
}

#UAXXPMH option{
	width: calc(150px * 1.3);
	margin: 0 calc(15px * 1.3);
	font-size: calc(16px * 1.3);
	height: calc(35px * 1.3);
	border-radius: calc(2px * 1.3);	
}

#UAqKHuDh #UATVXOSR .UAIhFwE #UAGldqaaj {
	width: calc(124px * 1.3);
	height: calc(50px * 1.3);
}

#UAqKHuDh #UATVXOSR .UAIhFwE #UAGldqaaj label {
	margin: calc(5px * 1.3) calc(15px * 1.3) 0;
	font-size: calc(30px * 1.3);
}

#UAqKHuDh #UATVXOSR .UAIhFwE #UAGldqaaj input[type="number"] {
	border: calc(1px * 1.3) solid #fff;
	height:calc(20px * 1.3);
}

#UAGldqaaj input[type="number"]:after {
	
	font-size: calc(11px * 1.3);
}

#UAGldqaaj input[type="number"]:before {
	margin-bottom: calc(-14% * 1.3);
	font-size: calc(11px * 1.3);
}

#UALJLeAMXZ, #UAtocxX {
	font-size: calc(13px * 1.3);
}

#UAqKHuDh #UATVXOSR .UAIhFwE #UATlRgjY, #UAqKHuDh #UATVXOSR .UAIhFwE #UAHTZumX {
	border: calc(1px * 1.3) solid #fff;
	height: calc(20px * 1.3);
}

#UATlRgjY:after, UAHTZumX:after {
	
	font-size: calc(11px * 1.3);
}

#UATlRgjY:before, UAHTZumX:before {
	
	font-size: calc(11px * 1.3);
}
#UAGhNjJuAT #UAOQlQoilosespace {
	margin:calc(5px * 1.3);
}

#UAFcDZr {
	width: calc(320px * 1.3);
}

#UAFcDZr .UAYuOoN {
	width: calc(115px * 1.3);
	height: calc(35px * 1.3);
	padding-top: calc(7px * 1.3);
	border-radius: calc(2px * 1.3);
}

#UAFcDZr .UAgyVJNBaq {
	width: calc(115px * 1.3);
	height: calc(35px * 1.3);
    padding-top: calc(7px * 1.3);
	border-radius: calc(2px * 1.3);
}

#UAqKHuDh #UATVXOSR div.UAiVtnX > div.UAcENUvvF {
	width: calc(320px * 1.3);
	height: calc(100px * 1.3);
}

#UAqKHuDh #UATVXOSR div.UAiVtnX > div.UAcENUvvF img {
	height: calc(100px * 1.3);
}

#UAqKHuDh #UATVXOSR #UAwujnO {
	top: calc(220px * 1.3);
}

#UAqKHuDh #UATVXOSR #UAmxnOXE {
	top: calc(220px * 1.3);
}

#UAqKHuDh #UATVXOSR #UAdKgyM {
	bottom: calc(195px * 1.3);
}

#UAqKHuDh #UATVXOSR #UAIrRjldAV {
	bottom: calc(195px * 1.3);
}

#UAdKgyM div.UAzVCNF div.UAyaqksSg,
#UAmxnOXE div.UAzVCNF  div.UAyaqksSg,
#UAIrRjldAV div.UAzVCNF  div.UAyaqksSg,
#UAwujnO div.UAzVCNF  div.UAyaqksSg {
	width: calc(25px * 1.3) !important;
	height: calc(24px * 1.3) !important;
	font-size: calc(24px * 1.3);
	margin: calc(20px * 1.3) calc(10px * 1.3) calc(5px * 1.3);
}

#UAdKgyM div.UAzVCNF > div.UAGtKOxv,
#UAmxnOXE div.UAzVCNF > div.UAGtKOxv,
#UAIrRjldAV div.UAzVCNF > div.UAGtKOxv,
#UAwujnO div.UAzVCNF > div.UAGtKOxv {
	height: calc(24px * 1.3) !important;
	font-size: calc(16px * 1.3);
	line-height:calc(64px * 1.3);
}

#UATVXOSR .UAiVtnX .UABrNmxQV {
	width: calc(320px * 1.3);
	height: calc(102px * 1.3);
}
#UAlRuMBD img {
	width: calc(20px * 1.3) !important;
}
 
#UADKHqtOIhiteMouse img{
	width: calc(20px * 1.3) !important;
}
#UATVXOSR .UAiVtnX .UAOQjwta img {
	margin: 0 calc(5px * 1.3);
}


#UATVXOSR .UAiVtnX .UAOQjwta {
	box-shadow: 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5);
	width: calc(295px * 1.3);
}
	    


#UATVXOSR .UAiVtnX .UAevFRs {
	width: calc(149px * 1.3);
	height: calc(60px * 1.3);
	font-size: calc(14px * 1.3);
    box-shadow: 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5);
}

#UATVXOSR .UAiVtnX .UAinTVe {
	width: calc(97px * 1.3);
	height: calc(95px * 1.3);
	font-size: calc(14px * 1.3);
	box-shadow: 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5);
	margin-top: calc(7px * 1.3);
}

#UATVXOSR .UAiVtnX .UAinTVe svg{
	bottom:calc(10px * 1.3);
}

#UAozMIW  {
	height: calc(336px * 1.3);
	width: calc(170px * 1.3);
}

#UAozMIW.UAGrJhdw > div > div {
	width: calc(56px * 1.3);
	height: calc(56px * 1.3);
}


#UAozMIW.UAGrJhdw input {
	width: calc(56px * 1.3) !important;
	height: calc(56px * 1.3) !important;
}


#UAozMIW.UAGrJhdw {
	height: calc(332px * 1.3);
	width: calc(170px * 1.3);
}

#UAozMIW.UAGrJhdw > div >  div {
	border: calc(1px * 1.3) solid #ededed;
	padding: calc(8px * 1.3) calc(15px * 1.3)12px;
	width: calc(56px * 1.3) !important;
	height: calc(56px * 1.3) !important;
}

#UAozMIW .UAVtlMsMU {
	width: calc(170px * 1.3) !important;
	height: calc(56px * 1.3) !important;
}

#UAozMIW.UAGrJhdw div input {
	width: calc(56px * 1.3);
	height: calc(54px * 1.3);
}

#UAdrlyYQV #UAdIzLniaB {
	width: calc(640px * 1.3);
	height: calc(152px * 1.3);
}

#UAdrlyYQV #UAitNKIEI {
	width: calc(640px * 1.3);
	height: calc(152px * 1.3);

}

#UAdrlyYQV #UAZsbXtXMv {
	width: calc(640px * 1.3);
	height: calc(152px * 1.3);
}


#UAdrlyYQV #UAZsbXtXMv #UANvUfOhy {
	width: calc(640px * 1.3);
	height: calc(32px * 1.3);
}

#UAdrlyYQV #UAZsbXtXMv #UANvUfOhy .UArAZqL{
	width: calc(55px * 1.3);
	height: calc(32px * 1.3);
	line-height: calc(32px * 1.3);
}

#UAdrlyYQV #UAZsbXtXMv #UANvUfOhy .UArAZqL#UAdwWTUx {
}

#UAdrlyYQV #UAZsbXtXMv #UAjWNVB {
	width: calc(640px * 1.3);
	height: calc(80px * 1.3);
}

#UAdrlyYQV #UAZsbXtXMv #UAjWNVB .UAuUvbvUz {
	width: calc(50px * 1.3);
	height: calc(50px * 1.3);
	margin: calc(20px * 1.3) 0 0 calc(2px * 1.3);
	line-height: calc(50px * 1.3);
	font-size: calc(20px * 1.3);
}

#UAdrlyYQV #UAZsbXtXMv #UAzFsRRl {
	width: calc(640px * 1.3);
	border: calc(1px * 1.3) solid #31C1EE;
}


#UAdrlyYQV #UAZsbXtXMv #UAzFsRRl:after {
	border-top: solid calc(12px * 1.3) #31C1EE;
}

#UAdrlyYQV #UAZsbXtXMv #UAjWNVB .UAuUvbvUz#UAWQwxzXq {
	font-size: calc(25px * 1.3);
}

#UAdrlyYQV #UAZsbXtXMv #UAjWNVB .UAuUvbvUz#UAuseVS {
	font-size: calc(25px * 1.3);
}

#UAdrlyYQV #UAZsbXtXMv #UANgxIQY {
	margin-top: calc(12px * 1.3);
	width: calc(260px * 1.3);
}


#UAdrlyYQV #UAAQGozd {
	height:calc(35px * 1.3);
}

.UAyaqksSg {
	width: calc(12px * 1.3) !important;
	height: calc(24px * 1.3)24px !important;
	font-size: calc(24px * 1.3);
	margin: calc(15px * 1.3) calc(10px * 1.3) 0;
}

#UARhfCdXBo {
	width: calc(300px * 1.3);
	height: calc(185px * 1.3);
}

#UAwBGzZ {
	width: calc(225px * 1.3);
	height: calc(50px * 1.3);
	margin: calc(55px * 1.3) 0 0 0;
}

#UABqKItTC {
	width: calc(50px * 1.3);
	height: calc(50px * 1.3);
	margin: calc(55px * 1.3) 0 0 0;
}

#UAwBGzZ .UARhfCdXBoColor {
	margin: calc(6px * 1.3) calc(3px * 1.3) calc(1px * 1.3);
	width: calc(22px * 1.3);
	height: calc(22px * 1.3);
	border-radius: calc(17px * 1.3);
}

#UABqKItTC .UARhfCdXBoColor {
	margin: calc(6px * 1.3) calc(3px * 1.3) calc(1px * 1.3);
	border: calc(1px * 1.3) solid #fff;
	width: calc(50px * 1.3);
	height:calc(50px * 1.3);
	border-radius: (50px * 1.3);
	font-size:calc(16px * 1.3);
	padding:calc(15px * 1.3) calc(12px * 1.3);
}


/************************************************/
#UAxNYTm {height:calc(226px * 1.3); padding: calc(5px * 1.3);}
#UAxNYTm #UApeNdp {width: calc(663px * 1.3);}
#UAxNYTm #UATTqbdCl {margin:calc(5px * 1.3);padding: calc(5px * 1.3);border: calc(1px * 1.3) solid #333;-moz-border-radius: calc(5px * 1.3);-webkit-border-radius: calc(5px * 1.3);}
#UAxNYTm div[role="button"] {margin: 0 calc(5px * 1.3) calc(5px * 1.3) 0;width: calc(30px * 1.3);height: calc(30px * 1.3);line-height:calc(40px * 1.3);border: calc(1px12px * 1.3) solid #222222;-moz-border-radius: calc(5px * 1.3);-webkit-border-radius: calc(5px * 1.3);}
#UAxNYTm .UABnvdRAU{width: calc(70px * 1.3) !important;}
#UAxNYTm #UAAAHmWloard div[role="button"]:focus,#UAAAHmWloard div[role="button"]:hover {top:calc(1px * 1.3);}
#UAxNYTm #UAAAHmWloard div[role="button"].UAEcCgW, #UAAAHmWloard div[role="button"].UAWmtIkH {width: calc(70px * 1.3) !important;}
#UAxNYTm #UAAAHmWloard div[role="button"].UAOQlQoiapslock {width: calc(80px * 1.3);}
#UAxNYTm #UAAAHmWloard div[role="button"].UAKNrlkIa {width: calc(55px * 1.3);}
#UAxNYTm #UAAAHmWloard div[role="button"].UArhvWq {width: calc(77px * 1.3);}


#UAxNYTm #UANZmYHLang div[role="button"].UAkgUXMqvL {height:calc(30px * 1.3);;width:calc(93px * 1.3) !important;}
#UAxNYTm #UAAAHmWloard div[role="button"].UAWqKIc {width:calc(548px * 1.3);}

#UAxNYTm #UANZmYHLang{height:calc(185px * 1.3);width:calc(95px * 1.3) !important;}


[id^="UATrnXLq"] {
    width: calc(20px * 1.3);
    height:calc(20px * 1.3);
}



#UAeKlInGW {
    padding: calc(10px * 1.3) calc(10px * 1.3) !important;
    font-size: calc(16px * 1.3) !important;
}

#UALBbPYA {
    height: calc(30px * 1.3) !important;
    margin-top: calc(20px * 1.3) !important;
}

#UAWueHJ {
	width:calc(300px * 1.3);
}

#UAdgLqVOs {
	border:calc(1px * 1.3) solid #fff;
	height: calc(100px * 1.3);
	margin :0 calc(3px * 1.3);
}



#UAWUsQUhQ {
	border: calc(1px * 1.3) solid #fff;
	height: calc(100px * 1.3);
	margin :0 calc(3px * 1.3);
}

#UAlsYNQ {
	padding: calc(5px * 1.3);
	font-size: calc(14px * 1.3);
}


#UAnDPnL {
	padding:calc(5px * 1.3);
	font-size: calc(14px * 1.3);
}

.UAJqDfmPMO {
	width: calc(36px * 1.3);
    height: calc(36px * 1.3);
	margin: calc(14px * 1.3) 0 0 calc(5px * 1.3) !important;
}

.UAJqDfmPMO img{
	width: calc(36px * 1.3);
    height: calc(36px * 1.3);
}


#UAFJiPW{ 
    top: calc(5px * 1.3);
    width: calc(320px * 1.3);
}

#UAZCBoeXA{
	width: calc(320px * 1.3);
    height: calc(30px * 1.3);
}
#UAFJiPW .UATpaQKYgf{
	width:calc(25px * 1.3);
	height:calc(25px * 1.3);
	padding: calc(5px * 1.3);
	font-size: calc(16px * 1.3) !important;
}
#UAFJiPW #UABRuTAbg{font-size:calc(16px * 1.3) !important;width:calc(170px * 1.3)!important;height:calc(38px * 1.3);}
#UAFJiPW select{font-size:calc(16px * 1.3) !important;width:calc(80px * 1.3);height:calc(40px * 1.3);}

#UAFJiPW #UAHYqMkQB{height:calc(40px * 1.3); width:calc(320px * 1.3) !important;}

#UAFJiPW #UAZLYTptzQ h3{font-size:calc(16px * 1.3) !important; padding: calc(5px * 1.3);}
#UAFJiPW #UAZLYTptzQ p{font-size:calc(16px * 1.3) !important;}
#UAFJiPW h2{font-size:calc(16px * 1.3) !important; padding: calc(5px * 1.3);width:calc(200px * 1.3)!important;}

#UAFJiPW hr{border:calc(1px * 1.3) solid #ccc!important;}


#UAuHWUUg{
	width: calc(320px * 1.3);
    height: calc(85px * 1.3);
}

#UAwtTJb{
	width:calc(320px * 1.3);
    height:calc(65px * 1.3);
    padding-top: calc(16px * 1.3);
}

#UAbwlQEsD{
    font-size: calc(12px * 1.3)22px;
    border-radius: calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3);
    -moz-border-radius: calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3);
    -webkit-border-radius: calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3) calc(2px * 1.3);
    -webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
    padding: calc(5px * 1.3) calc(10px * 1.3);
    width: calc(300px * 1.3);
    line-height: calc(14px * 1.3);
    height: calc(32px * 1.3);
}

#UAlMkCeu{
	width: calc(320px * 1.3);
    height: calc(35px * 1.3);
    box-shadow: inset 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5);
}

#UAbbfMT{
	margin: 0px calc(10px * 1.3);
    font-size: calc(16px * 1.3);
    width: calc(300px * 1.3);
    height: calc(30px * 1.3);
    padding-top: calc(7px * 1.3);
}

#UAjOXwS{
	height: calc(444px * 1.3);
}

#UAauHrK{
	width:calc(320px * 1.3);
	height:calc(115px * 1.3);
    padding-top: calc(33px * 1.3);
}
#UAbwlQEsD{
    font-size: calc(19px * 1.3);
    border-top: calc(1px * 1.3) solid #fff;
	border-bottom: calc(1px * 1.3) solid #fff;
    padding: 0px calc(10px * 1.3);
    width: calc(300px * 1.3);
    line-height: calc(50px * 1.3);
    height: calc(50px * 1.3);
}

#UAbwlQEsD img{
    width: calc(30px * 1.3);
	line-height: calc(50px * 1.3);
    padding-top: calc(14px * 1.3);
}

#UAvbLxha {
	margin: 0px calc(10px * 1.3);
    font-size: calc(16px * 1.3);
    width: calc(300px * 1.3);
    height: calc(30px * 1.3);
    padding-top: calc(7px * 1.3);
}

#UArNUKKlk {
	height:calc(410px * 1.3);
	width:calc(338px * 1.3);
	font-size:calc(14px * 1.3);
}


#UArNUKKlk .UAtdvoBW .UAWMDoaCv{
	border-bottom: calc(1px * 1.3) solid #ccc;
}

#UArNUKKlk .UAtdvoBW{
	    width: calc(318px * 1.3);
}

#UArNUKKlk .UAtdvoBW :focus{
	outline: calc(1px * 1.3) solid #000;
}

#UArNUKKlk .UAtdvoBW .UAWMDoaCv{
	padding:calc(5px * 1.3);
	font-size:calc(14px * 1.3);
}

#UArNUKKlk .UAtdvoBW .UAWMDoaCv img{
    width: calc(15px * 1.3);
    top: calc(10px * 1.3);
}

#UArNUKKlk .UAtdvoBW .UAxwrrL{
	padding:calc(5px * 1.3);
	font-size:calc(14px * 1.3);
	border-bottom: calc(1px * 1.3) solid #ccc;
}



#UAujXJX {
    width: calc(320px * 1.3);
    height: calc(115px * 1.3);
}

#UAujXJX #UAbDpwGoL{
	margin:calc(10px * 1.3);
	font-size: calc(16px * 1.3);
}

#UAXIdkyURt {
	width: calc(2320pxx * 1.3);
    height: calc(30px * 1.3);
	padding: calc(5px * 1.3) calc(10px * 1.3);
}

#UAulwlszz {
	width: calc(320px * 1.3);
    height: calc(325px * 1.3);
	padding: calc(3px * 1.3) calc(10px * 1.3);
}

#UARwwHVBTZ{
	width: calc(320px * 1.3);
    height: calc(50px * 1.3);
}

#UAfrfti{
	height:calc(50px * 1.3);
	padding:calc(12px * 1.3) calc(10px * 1.3);
	font-size:calc(18px * 1.3);
}

#UARJKdWDA{
	height:calc(50px * 1.3);
	padding:calc(12px * 1.3) calc(10px * 1.3);
	font-size:calc(18px * 1.3);
}

#UARPfwA{
	height:calc(85px * 1.3);
	width:calc(300px * 1.3);
	padding:calc(10px * 1.3) calc(10px * 1.3) 0;
	font-size:calc(14px * 1.3);
}

#UAXgjMtKl{
	width:calc(1820px * 1.3);
	font-size:calc(14px * 1.3);
}

#UAXgjMtKl .UADWZGAdxr{
	width: calc(245px * 1.3);
    height: calc(180px * 1.3);
	margin:0 calc(5px * 1.3);
}
#UAXgjMtKl .UADWZGAdxr .UAzZvjf{
	width: calc(245px * 1.3);
    height: calc(75px * 1.3);
	font-size: calc(14px2px * 1.3);
	border-radius: calc(2px * 1.3) calc(2px * 1.3) 0px 0px;
	-moz-border-radius: calc(2px * 1.3) calc(2px * 1.3) 0px 0px;
	-webkit-border-radius: calc(2px * 1.3) calc(2px * 1.3) 0px 0px;
}


#UAXgjMtKl .UADWZGAdxr .UAzZvjf .UApTZVJDp{
	top:calc(10px * 1.3);
	width:calc(20px * 1.3);
	height:calc(20px * 1.3);
	font-size: calc(14px * 1.3);
}

#UAXgjMtKl .UADWZGAdxr .UAzZvjf .UARDjjOAW{
	padding: calc(10px * 1.3) calc(25px * 1.3) 0 calc(15px * 1.3);
    font-size: calc(14px * 1.3);
}

#UAXgjMtKl .UADWZGAdxr .UAuiwoClQ{
	width: calc(245px * 1.3);
    height: calc(90px * 1.3);
	-webkit-box-shadow: 0px calc(1px * 1.3) calc(5px * 1.3) calc(-1px * 1.3) rgba(89,89,89,1);
	-moz-box-shadow: 0px calc(1px * 1.3) calc(5px * 1.3) calc(-1px * 1.3) rgba(89,89,89,1);
	box-shadow: 0px calc(1px * 1.3) calc(5px * 1.3) calc(-1px * 1.3) rgba(89,89,89,1);
	padding: calc(20px * 1.3) calc(40px * 1.3) 0;
	font-size:calc(14px * 1.3);
	border-radius: 0px 0px calc(2px * 1.3) calc(2px * 1.3);
	-moz-border-radius: 0px 0px calc(2px * 1.3) calc(2px * 1.3);
	-webkit-border-radius: 0px 0px calc(2px * 1.3) calc(2px * 1.3);
}


#UAXgjMtKl .UADWZGAdxr .UAuiwoClQ [class^="UAQudocbv"]{
	width: calc(50px * 1.3);
    height: calc(50px * 1.3);
	-webkit-box-shadow: 0px calc(1px * 1.3) calc(5px * 1.3) calc(-1px * 1.3) rgba(89,89,89,1);
	-moz-box-shadow: 0px calc(1px * 1.3) calc(5px * 1.3) calc(-1px * 1.3) rgba(89,89,89,1);
	box-shadow: 0px calc(1px * 1.3) calc(5px * 1.3) calc(-1px * 1.3) rgba(89,89,89,1);
	font-size:calc(14px * 1.3);
	margin:calc(2px * 1.3);

}

#UAXgjMtKl .UADWZGAdxr .UAuiwoClQ input[type="text"],
#UAXgjMtKl .UADWZGAdxr .UAuiwoClQ textarea{
	width: calc(210px * 1.3);
    margin: 0 calc(-24px * 1.3);
	font-size:calc(14px * 1.3);
}

#UAXgjMtKl .UADWZGAdxr .UAuiwoClQ .UARyiGZ{
	margin: calc(20px * 1.3) 0;
}

#UAXgjMtKl .UADWZGAdxr .UAuiwoClQ .UARyiGZ label{
	font-size: calc(14px * 1.3);
}

#UAXgjMtKl .UADWZGAdxr .UAuiwoClQ .UARyiGZ input[type="text"]{
	height:calc(20px * 1.3);
	font-size:calc(14px * 1.3);
}

#UAXgjMtKl .UADWZGAdxr .UAuiwoClQ .UARyiGZ textarea {
	min-height:calc(40px * 1.3);
	font-size:calc(14px * 1.3);
	max-height:calc(40px * 1.3);
}



.UAoNZVWRQ{
	font-size:calc(14px * 1.3);
}

.UAxYHXxGOS{
	font-size:calc(14px * 1.3);
}

#UAXgjMtKl .UADWZGAdxr .UAuiwoClQ .UAoNZVWRQ.UAiehUmPXi {
	font-size:calc(14px * 1.3);
}

[id^="UAzoTQf"] {
	width:calc(339px * 1.3);
}




#loadAndiSystem {
	width:calc(338px * 1.3);
	height:calc(640px * 1.3);
}

#UAWgLiGL {
	top:calc(30px * 1.3);
}

#UANRdvZuR {
	width: calc(296px * 1.3);
    height: calc(145px * 1.3);
	border-radius: calc(2px * 1.3);
}

#UANRdvZuR #UANRdvZuRtext{
	margin:calc(30px * 1.3) auto 0;
	width: calc(237px * 1.3);
	border-radius: calc(2px * 1.3);
}

#UAgnSrR ,#UANsLEdcUJ{
	width:calc(120px * 1.3);
	height:calc(30px * 1.3);
	padding-top:calc(10px * 1.3);
}

#UANsLEdcUJ {
	width:calc(120px * 1.3);
	height:calc(30px * 1.3);
	padding-top:calc(10px * 1.3);
}


#UAdQyLW,
#UAsSrbZG {
	width:calc(120px * 1.3);
	height:calc(30px * 1.3);
	padding-top:calc(10px * 1.3);
}

#UAHNpnI{
	width: calc(30px * 1.3);
    height: calc(30px * 1.3);
}

#UAWpdbdT {
	width: calc(30px * 1.3);
    height: calc(30px * 1.3);
}

#UAJdPume #UAvexhkeXG {
	bottom: calc(10px * 1.3);
}

#UAplFpXOBw {
	bottom: calc(10px * 1.3);
}

#UAxzztaIi, #UAJqwQuw ,#UAplFpXOBw svg{
	width:calc(20px * 1.3);
	height:calc(20px * 1.3);
}

#UAxzztaIi {
	bottom:calc(4px * 1.3);
}

#UAJqwQuw {
	bottom: calc(4px * 1.3);
	
}

#UAjpKMc {
	margin: 0 auto calc(-11px * 1.3);
	width: calc(40px * 1.3);
}

#UAHJdjjA {
    height: calc(3px * 1.3);
    margin: calc(1px * 1.3) auto;
}


#UAxHLIoa {
	margin: 0px auto calc(7px * 1.3);
    width: calc(3px * 1.3);
    height: calc(10px * 1.3);
}

#UAaTNEz {
	top: calc(-20px * 1.3);
}

#UAxYTgBAsU{
	width: calc(3px * 1.3);
	height: calc(10px * 1.3);
}

#UAJdPume{
	width:calc(201px * 1.3);
	height: calc(95px * 1.3);
	font-size: calc(14px * 1.3);
	margin-top: calc(7px * 1.3);
	box-shadow: 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5);
}

.UAyspTsb [role="button"]:hover,
.UAyspTsb select:hover,
.UAyspTsb input:hover,
.UAyspTsb [role="button"]:focus,
.UAyspTsb select:focus,
.UAyspTsb input:focus {
	outline: calc(1px * 1.3) solid #fff !important;
}

.UABrNmxQV .UAinTVe {
	border-radius: calc(2px * 1.3);
}

#UAwujnO .UAUwefvxEd .UAeeiWPM {
	border:calc(1px * 1.3) solid #fff !important; 
	border-radius: calc(35px * 1.3) !important; 
	bottom: calc(10px * 1.3) !important; 
	width: calc(25px * 1.3); 
    height: calc(25px * 1.3);
	padding-top:calc(3px * 1.3);
	padding-right:calc(2px * 1.3);
	padding-left:calc(2px * 1.3);
}

#UAhPRYo .UARaGkGI {
	bottom:calc(10px * 1.3) !important; 
	width: calc(40px * 1.3); 
    height: calc(15px * 1.3);
	line-height: calc(15px * 1.3);
}

#UANRdvZuR :focus{
	outline: calc(1px * 1.3)  solid #000;
}

img[src*="UAAdgMntPN.png"]{
	width:  calc(320px * 1.3); 
	height:  calc(115px * 1.3);
}

#UAbhbOBC img,
#UAvcwaHFbB img {
	margin: calc(8px * 1.3) auto;
    width: calc(16px * 1.3);
}



#UANZmYHtab1middleHelp {
	width: calc(320px * 1.3);
    height: calc(445px * 1.3);
	top: calc(195px * 1.3);
}

#UANZmYHtab1middleHelp .UADOClgEskipbtn {
	top: calc(3px * 1.3);
	right: calc(3px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
}

#UANZmYHtab1middleHelp .UADOClgEimg img{
	width: calc(320px * 1.3) !important;
	height: calc(445px * 1.3) !important;
	
}

#UANZmYHtab1middleHelp .UADOClgEchangetolivetext{
	bottom: calc(3px * 1.3);
	right: calc(3px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
}



#UANZmYHtab1SmalleHelp {
    width: calc(306px * 1.3);
    height: calc(100px * 1.3);
    margin: calc(6px * 1.3) auto 0;
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
}

#UANZmYHtab1SmalleHelp .UADOClgEskipbtn {
	top: calc(3px * 1.3);
	right:calc(3px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
}

#UANZmYHtab1SmalleHelp .UADOClgEimg img{
	width: calc(306px * 1.3) !important;
	height: calc(100px * 1.3) !important;
	
}

#UANZmYHtab1SmalleHelp .UADOClgEchangetolivetext{
	bottom: calc(3px * 1.3);
	right:calc(3px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
}











#UANZmYHtab1LargeHelp {
    width: calc(320px * 1.3);
    height:calc(500px * 1.3);
    box-shadow: 0px 0px calc(10px * 1.3) rgba(180,180,180,0.5)
}


#UANZmYHtab1LargeHelp #UAifxaqUqHelp{
    width: calc(320px * 1.3);
    height:calc(30px * 1.3) ;
}


#UANZmYHtab1LargeHelp  #UAOQlQoiloseHelp input{
	width: calc(20px * 1.3);
	height: calc(20px * 1.3);
	padding:calc(3px * 1.3) calc(3px * 1.3) 0;
}
#UANZmYHtab1LargeHelp #UAmwoGoc{
	width: calc(320px * 1.3);
    height: calc(35px * 1.3);
}

#UANZmYHtab1LargeHelp #UAmwoGoc a{
    font-size: calc(14px * 1.3);
    line-height: calc(35px * 1.3);
}

#UANZmYHtab1LargeHelp .UADOClgEskipbtn {
	top: calc(3px * 1.3);
	right:calc(3px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	font-size: calc(16px * 1.3);
    padding: 1px calc(5px * 1.3);
    margin: calc(2px * 1.3);
}

#UANZmYHtab1LargeHelp .UADOClgEimg img{
	width: calc(320px * 1.3) !important;
	height: calc(445px * 1.3) !important;
	
}

#UANZmYHtab1LargeHelp .UADOClgEchangetolivetext{
	bottom: calc(38px * 1.3);
	right:calc(3px * 1.3);
	-webkit-box-shadow: 0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px calc(2px * 1.3) 0px rgba(50, 50, 50, 0.75);
	font-size: calc(16px * 1.3);
    padding: 1px calc(2px * 1.3);
    margin: calc(2px * 1.3);
}

#UAqKHuDh #UATVXOSR .UApLzTx img {
	width: calc(149px * 1.3);
	height: calc(149px * 1.3);
	
}
